<div class="emie-breadcrumb">
    <div><a href="#/SignInSuccess">Home</a></div>
    <div class="current">Enterprise Mode reports</div>
</div>
<div>
    <span class="EMIEpage-title EMIEspacer">Enterprise Mode reports</span>
</div>
<div class="form-row">
    <div class="report-tile">
        <div class="report-count">{{productionSitesCount}}</div>
        <div class="report-label">Total number of websites in site list</div>
    </div>
</div>
<div class="form-row">
    <div class="form-column">
        <div class="alert alert-info" role="alert" ng-show="DisplayNoDataMessage">No data available.</div>
        <canvas id="DocmodesChart" ng-show="DisplayChart" width="340" height="340"></canvas>
    </div>
    <div class="form-column">
        <div class="alert alert-info" role="alert" ng-show="DisplayNoDataMessage">No data available.</div>
        <canvas id="BrowserChart" ng-show="DisplayChart" width="340" height="340"></canvas>
    </div>
</div>
<div class="form-row">
    <message-center></message-center>
    <div class="form-column">
        <div><span class="EMIEControllabel">From date</span></div>
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="datePickFrom" is-open="popupStartDate.opened" ng-click="openStartDate()" ng-change="FilterSelected()" datepicker-options="dateOptions" close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
    <div class="form-column">
        <div><span class="EMIEControllabel">To date</span></div>
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="datePickTo" is-open="popupEndDate.opened" datepicker-options="dateOptions" close-text="Close" ng-change="FilterSelected()" ng-click="openEndDate()" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
    <div class="form-column">
        <div><span class="EMIEControllabel">Group name</span></div>
        <dl class="dropdownCD">
            <dt>
                <a>
                    <span class="hida">-- Select --</span>
                </a>
            </dt>
            <dd>
                <div class="mutliSelect">
                    <ul>
                        <li>
                            <label for="SelectAll">
                                <input type="checkbox" id="SelectAll" value="SelectAll" ng-click="CheckedAllBPUid(BPU)" ng-model="SelectAll" checked="checked">Select all
                            </label>
                        </li>
                        <li ng-repeat="BPUdetails in BPU">
                            <label for="{{BPUdetails.BPUId}}">
                                <input type="checkbox" class="GroupName" value="{{BPUdetails.BPUId}}" id="{{BPUdetails.BPUId}}" ng-click="CheckedBPUid(BPUdetails.BPUId)">{{BPUdetails.BPUFullname}}
                            </label>
                        </li>
                    </ul>
                </div>
            </dd>
        </dl>
    </div>
    <div>
        <button type="button" class="highlight" data-dismiss="modal" ng-disabled="IsFilterbuttonDisabled" ng-click="Filter()">Apply</button>
        <button type="button" data-dismiss="modal" ng-disabled="IsFilterbuttonDisabled" ng-click="Clear()">Clear</button>
    </div>
</div>
<div class="form-row">
    <div class="form-column">
        <div class="alert alert-info" role="alert" ng-show="DisplayNoDataMessage">No data available.</div>
        <canvas id="pieChart" ng-show="DisplayChart" width="340" height="450"></canvas>
    </div>
    <div class="form-column">
        <div class="alert alert-info" role="alert" ng-show="DisplayNoDataMessage">No data available.</div>
        <canvas id="ChangeTypeChangeChart" ng-show="DisplayChart" width="340" height="340"></canvas>
    </div>
    <div class="form-column">
        <div class="alert alert-info" role="alert" ng-show="DisplayNoDataMessage">No data available.</div>
        <canvas id="canvas" ng-show="DisplayChart" width="340" height="450"></canvas>
    </div>
    <div class="form-column">
        <div class="alert alert-info" role="alert" ng-show="DisplayNoDataMessage">No data available.</div>
        <canvas id="ReasonForChangeChart" ng-show="DisplayChart" width="340" height="340"></canvas>
    </div>
</div>
<div>
    <div>
        <span class="EMIEpage-title EMIEspacer" ng-show="DisplayChartForApplication">Requested changes by app name</span>
    </div>
    <div class="alert alert-info" role="alert" ng-show="DisplayNoDataMessageForSignedOffApplication">No data available.</div>
    <div>
        <span class="EMIEHeaderTitle" ng-show="DisplayChartForApplication">Added to site list</span>
    </div>
    <div class="panel-group EMIEspacer" ng-show="DisplayChartForApplication">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-3">Added sites</div>
                    <div class="col-lg-3 clickable" ng-click="orderByField1='ApplicationName'; reverseSort1 = !reverseSort1">
                        <span class="name">App name</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </div>
                    <div class="col-lg-3 clickable" ng-click="orderByField1='GroupName'; reverseSort1 = !reverseSort1">
                        <span class="name">Group name</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </div>
                </div>
            </div>
            <div class="panel-collapse">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="ticketdetails in tickets | filter:{ ChangeType: 'Add to EMIE'}|orderBy:orderByField1:reverseSort1">
                        <div class="row">
                            <div class="col-lg-3">{{ ticketdetails.AppSiteLink }}</div>
                            <div class="col-lg-3">{{ ticketdetails.ApplicationName }}</div>
                            <div class="col-lg-3">{{ ticketdetails.GroupName }}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <span class="EMIEHeaderTitle" ng-show="DisplayChartForApplication">Deleted from site list</span>
    </div>
    <div class="panel-group EMIEspacer" ng-show="DisplayChartForApplication">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-3">Deleted sites</div>
                    <div class="col-lg-3 clickable" ng-click="orderByField2='ApplicationName'; reverseSort2 = !reverseSort2">
                        <span class="name">App name</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </div>
                    <div class="col-lg-3 clickable" ng-click="orderByField2='GroupName'; reverseSort2 = !reverseSort2">
                        <span class="name">Group name</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </div>
                </div>
            </div>
            <div class="panel-collapse">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="ticketdetails in tickets | filter:{ ChangeType: 'Delete from EMIE'}|orderBy:orderByField2:reverseSort2">
                        <div class="row">
                            <div class="col-lg-3">{{ ticketdetails.AppSiteLink }}</div>
                            <div class="col-lg-3">{{ ticketdetails.ApplicationName }}</div>
                            <div class="col-lg-3">{{ ticketdetails.GroupName }}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <span class="EMIEHeaderTitle" ng-show="DisplayChartForApplication">Updated from site list</span>
    </div>
    <div class="panel-group" ng-show="DisplayChartForApplication">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-3">Updated sites</div>
                    <div class="col-lg-3 clickable" ng-click="orderByField3='ApplicationName'; reverseSort3= !reverseSort3">
                        <span class="name">App name</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </div>
                    <div class="col-lg-3 clickable" ng-click="orderByField3='GroupName'; reverseSort3 = !reverseSort3">
                        <span class="name">Group name</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </div>
                </div>
            </div>
            <div class="panel-collapse">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="ticketdetails in tickets | filter:{ ChangeType: 'Update to EMIE'}|orderBy:orderByField3:reverseSort3">
                        <div class="row">
                            <div class="col-lg-3">{{ ticketdetails.AppSiteLink }}</div>
                            <div class="col-lg-3">{{ ticketdetails.ApplicationName }}</div>
                            <div class="col-lg-3">{{ ticketdetails.GroupName }}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    url();
    $(document).ready(function () {
        if ($('#SelectAll').is(':checked')) {
            $('.GroupName').prop('checked', true);
        }
    });
    $(".dropdownCD dt a").on('click', function () {
        $(".dropdownCD dd ul").slideToggle('fast');
    });
    $(".dropdownCD dd ul li a").on('click', function () {
        $(".dropdownCD dd ul").hide();
    });

    function getSelectedValue(id) {
        return $("#" + id).find("dt a span.value").html();
    }

    $(document).bind('click', function (e) {
        var $clicked = $(e.target);
        if (!$clicked.parents().hasClass("dropdownCD")) $(".dropdownCD dd ul").hide();
    });

    $('.mutliSelect ul li input[type="checkbox"]').on('click', function () {
        var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
        title = $(this).val() + ",";
        if ($('#SelectAll').is(':checked')) {
            $('.GroupName').prop('checked', true);
        }
        else {
            $('.GroupName').prop('checked', false);
        }
    });
</script>