<div disable-all="isConfigPageDisabled">
    <div class="emie-breadcrumb">
        <div><a href="#/SignInSuccess">Home</a></div>
        <div class="current">Settings</div>
    </div>
    <div>
        <span class="EMIEpage-title EMIEspacer" ng-hide="IsNewRequest">Settings</span>
    </div>
    <form name="form" class="form-column">
        <div>
            <span class="EMIEHeaderTitle">Group and role settings</span>
        </div>
        <div class="form-row">
            <div><span class="EMIEControllabel">Group name</span></div>
            <div>
                <select class="form-control" name="BPUName" data-ng-model="GroupName" data-ng-options="var as var.BPU1 for var in groupNameList" ng-change="GetGroupHead()">
                    <option value="">-- Select --</option>
                </select>
            </div>
            <div class="newreq-appbuttons">
                <button type="button" data-toggle="modal" data-target="#myModal" ng-click="OpenGroupDetail()">Group details</button>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="EMIEpage-title">Add or edit group names</span>
                    </div>
                    <div class="modal-body">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab" onclick="return false" id="AddGroup">Add group</a></li>
                                <li><a href="#tab2" data-toggle="tab" onclick="return false" id="EditGroup">Edit group</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div class="form-row">
                                        <div><span class="EMIEControllabel">New group name</span></div>
                                        <div>
                                            <input name="txtAddGroup" class="form-control ng-pristine ng-valid ng-empty ng-touched" type="text" ng-model="NewGroupName"
                                                   placeholder="Enter group name" ng-required="(tab.activeTab == 'AddGroup'|| tab.activeTab == undefined) && submitted==false"
                                                   ng-class="{'erroneous-field' : Addsubmitted && form.txtAddGroup.$error.required}">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div><span class="EMIEControllabel">Group head email</span></div>
                                        <div style="position: relative">
                                            <input type="text" name="txtUserEmail" id="txtUserEmail" ng-change="GetUserEmailText(NewUserEmail)" ng-minlength="3"
                                                   class="form-control" data-ng-model="NewUserEmail" ng-required="(tab.activeTab == 'AddGroup'|| tab.activeTab == undefined) && submitted==false" data-toggle="dropdown" placeholder="Enter email"
                                                   ng-class="{'erroneous-field' : Addsubmitted && form.txtUserEmail.$error.required}">
                                            <span class="error" ng-show="(form.txtUserEmail.$dirty || Addsubmitted) && form.txtUserEmail.$error.minlength">Too short!</span>
                                            <ul id="color-dropdown-menu" class="dropdown-menu dropdown-menu-right" ng-show="searcheduserlist.length>=1" style="width:425px;height:auto;max-height:400px !important;overflow-y:scroll;left: 0" role="menu">
                                                <li ng-repeat="user in searcheduserlist" class="input-lg" ng-click="searchedUserFromDDL(user)" style="margin:5px">{{user.DisplayName}}</li>
                                            </ul>
                                            <span class="dropdown-menu dropdown-menu-left" style="width: 411px" ng-model="NoResultText" ng-show="searcheduserlist.length==0 && NewUserEmail.length>1">No users matching "{{NewUserEmail}}" were found. </span>
                                            <span class="dropdown-menu dropdown-menu-left" style="width: 411px" ng-show="NewUserEmail.length>1 && IsSearching ">Searching user.... </span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div><span class="EMIEControllabel">Group head name</span></div>
                                        <div>
                                            <input type="text" name="txtUserName" id="txtUserName" class="form-control" data-ng-model="NewUserName" disabled placeholder="User name">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <input type="checkbox" ng-model="IsActive" />Active
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div class="form-row">
                                        <div><span class="EMIEControllabel">Group name</span></div>
                                        <div>
                                            <select class="form-control" name="BPUName" data-ng-model="GroupName" ng-change="GetGroupHead()"
                                                    data-ng-options="var as var.BPU1 for var in groupNameList" ng-required="tab.activeTab == 'EditGroup'  && submitted==false"
                                                    ng-class="{'erroneous-field' : Editsubmitted && form.BPUName.$error.required}">
                                                <option value="">-- Select --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div><span class="EMIEControllabel">New group name</span></div>
                                        <div>
                                            <input name="txtEditGroup" class="form-control ng-pristine ng-valid ng-empty ng-touched" type="text" ng-model="EditNewGroupName"
                                                   placeholder="Enter group name">
                                        </div>
                                    </div>
                                    <div class="form-row" ng-hide="IsGroupHead">
                                        <div><span class="EMIEControllabel">Group head email</span></div>
                                        <div>
                                            <input type="text" name="txtEditUserEmail" id="txtEditUserEmail" ng-change="GetUserEmailText(NewUserEmail)" ng-minlength="3"
                                                   class="form-control" data-ng-model="EditNewUserEmail" data-toggle="dropdown" disabled>
                                            <span class="error" ng-show="(form.txtEditUserEmail.$dirty || Editsubmitted) && form.txtEditUserEmail.$error.minlength">Too short!</span>
                                            <ul id="color-dropdown-menu" class="dropdown-menu dropdown-menu-right" ng-show="searcheduserlist.length>=1" style="width:425px;height:auto;max-height:400px !important;overflow-y:scroll" role="menu">
                                                <li ng-repeat="user in searcheduserlist" class="input-lg" ng-click="searchedUserFromDDL(user)" style="margin:5px">{{user.DisplayName}}</li>
                                            </ul>
                                            <span class="dropdown-menu dropdown-menu-left" style="padding-left: 7px; margin-left: 14px; width: 411px; " ng-model="NoResultText" ng-show="searcheduserlist.length==0 && NewUserEmail.length>1">No users matching "{{NewUserEmail}}" were found. </span>
                                            <span class="dropdown-menu dropdown-menu-left" style="padding-left: 7px; margin-left: 14px; width: 411px; " ng-show="NewUserEmail.length > 1 && IsSearching">Searching user.... </span>
                                        </div>
                                    </div>
                                    <div class="form-row" ng-hide="IsGroupHead">
                                        <div><span class="EMIEControllabel">Group head name</span></div>
                                        <div>
                                            <input type="text" name="txtEditUserName" id="txtEditUserName" class="form-control" data-ng-model="EditNewUserName" disabled placeholder="User name">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <input type="checkbox" ng-model="EditIsActive" />Active
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="highlight" ng-click="SaveNewGroupName()">Save</button>
                        <button type="button" data-dismiss="modal" ng-click="CancelFields()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div><span class="EMIEControllabel">Required approvers</span></div>
            <div ng-repeat="role in RoleList">
                <input type="checkbox" ng-model="role.MandatoryApproval" ng-disabled="true">{{role.RoleName}}
                <a href="" data-toggle="modal" ng-click="SetRoleName(role.RoleName,role.MandatoryApproval)" data-target="#ERModal" ng-hide="role.RoleId == 4"><span class="glyphicon glyphicon-pencil" alt="Edit"></span></a>
            </div>
        </div>
        <div id="ERModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="EMIEpage-title">Edit role name</span>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div><span class="EMIEControllabel">Role name</span></div>
                            <div>
                                <input type="text" class="form-control" data-ng-model="RoleName" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div><span class="EMIEControllabel">New role name</span></div>
                            <div>
                                <input type="text" class="form-control" data-ng-model="NewRoleName" ng-change="CheckNewRoleNameField()">
                            </div>
                        </div>
                        <div class="form-row">
                            <input type="checkbox" ng-model="IsMandatory" />Mandatory
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="SandboxOkButton" type="button" class="highlight" ng-disabled="IsNewRoleNameEmpty" ng-click="EditRoleName(IsMandatory)" data-dismiss="modal">Save</button>
                        <button type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <span class="EMIEHeaderTitle">Environment settings</span>
            </div>
            <div class="form-row">
                <div><span class="EMIEControllabel">Pre-production environment</span></div>
                <div>
                    <input type="text" placeholder="eg. \\server\folder\filename.xml" name="txtSandbaxEnvironment" id="txtSandbaxEnvironment" class="form-control ng-pristine ng-valid ng-empty ng-touched" required data-ng-model="SandboxEnvironment" ng-pattern="/^\\(\\[^\s\\]+)+(\\)?$/">
                    <span class="error" ng-show="(form.txtSandbaxEnvironment.$dirty || submitted) && form.txtSandbaxEnvironment.$error.required">Required!</span>
                </div>
                <div class="newreq-appbuttons">
                    <button type="button" title="Pre-production credentials" data-toggle="modal" ng-click="SandboxCredentials()" data-target="#SBModal">Credentials</button>
                </div>
            </div>
            <div id="SBModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="EMIEpage-title">Pre-production credentials</span>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div><span class="EMIEControllabel">Domain</span></div>
                                <div>
                                    <input type="text" name="txtSBUserDomain" id="txtSBUserDomain" class="form-control" data-ng-model="SBUserDomain" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div><span class="EMIEControllabel">User name</span></div>
                                <div>
                                    <input type="text" name="txtSBUserName" id="txtSBUserName" class="form-control" data-ng-model="SBUserName" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div><span class="EMIEControllabel">Password</span></div>
                                <div>
                                    <input type="password" name="txtSBPassword" id="txtSBPassword" class="form-control" data-ng-model="SBPassword" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="SandboxOkButton" type="button" class="highlight" ng-click="OkSandboxCredentials()">OK</button>
                            <button type="button" data-dismiss="modal" ng-click="CancelSandboxCredential()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div><span class="EMIEControllabel">Production environment</span></div>
                <div>
                    <input type="text" placeholder="eg. \\server\folder\filename.xml" name="txtProductionEnvironment" id="txtProductionEnvironment" class="form-control ng-pristine ng-valid ng-empty ng-touched" required data-ng-model="ProductionEnvironment" ng-pattern="/^\\(\\[^\s\\]+)+(\\)?$/">
                    <span class="error" ng-show="(form.txtProductionEnvironment.$dirty || submitted) && form.txtProductionEnvironment.$error.required">Required!</span>
                </div>
                <div class="newreq-appbuttons">
                    <button type="button" title="Production credentials" data-toggle="modal" ng-click="ProductionCredentials()" data-target="#PDModal">Credentials</button>
                </div>
            </div>
            <div id="PDModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="EMIEpage-title">Production credentials</span>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div><span class="EMIEControllabel">Domain</span></div>
                                <div >
                                    <input type="text" name="txtPDUserDomain" id="txtPDUserDomain" class="form-control" data-ng-model="PDUserDomain" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div><span class="EMIEControllabel">User name</span></div>
                                <div>
                                    <input type="text" name="txtPDUserName" id="txtPDUserName" class="form-control" data-ng-model="PDUserName" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div><span class="EMIEControllabel">Password</span></div>
                                <div>
                                    <input type="password" name="txtPDPassword" id="txtPDPassword" class="form-control" data-ng-model="PDPassword" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="highlight" ng-click="OkProductionCredentials()">OK</button>
                            <button type="button" data-dismiss="modal" ng-click="CancelProductionCredential()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div><span class="EMIEControllabel">Attachments location</span></div>
                <div>
                    <input type="text" placeholder="eg. \\server\folder\folder" name="txtAttachmentLocation" id="txtAttachmentLocation" class="form-control ng-pristine ng-valid ng-empty ng-touched" required data-ng-model="AttachmentLocation" ng-pattern="/^\\(\\[^\s\\]+)+(\\)?$/">
                    <span class="error" ng-show="(form.txtAttachmentLocation.$dirty || submitted) && form.txtAttachmentLocation.$error.required">Required!</span>
                </div>
                <div class="newreq-appbuttons">
                    <button type="button" title="Attachment credentials" data-toggle="modal" ng-click="ProductionCredentials()" data-target="#ALModal">Credentials</button>
                </div>
            </div>
            <div id="ALModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="EMIEpage-title">Attachments credentials</span>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div><span class="EMIEControllabel">Domain</span></div>
                                <div>
                                    <input type="text" name="txtALUserDomain" id="txtALUserDomain" class="form-control" data-ng-model="ALUserDomain" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div><span class="EMIEControllabel">User name</span></div>
                                <div>
                                    <input type="text" name="txtALUserName" id="txtALUserName" class="form-control" data-ng-model="ALUserName" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div><span class="EMIEControllabel">Password</span></div>
                                <div>
                                    <input type="password" name="txtALPassword" id="txtALPassword" class="form-control" data-ng-model="ALPassword" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="highlight" ng-click="OkAttachmentCredentials()">OK</button>
                            <button type="button" data-dismiss="modal" ng-click="CancelAttachmentCredentials()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div><span class="EMIEControllabel">Settings location</span></div>
                <div>
                    <input type="text" placeholder="eg. \\server\folder\folder" name="txtConfigLocation" id="txtConfigLocation" class="form-control ng-pristine ng-valid ng-empty ng-touched" required data-ng-model="ConfigurationLocation" ng-pattern="/^\\(\\[^\s\\]+)+(\\)?$/">
                    <span class="error" ng-show="(form.txtConfigLocation.$dirty || submitted) && form.txtConfigLocation.$error.required">Required!</span>
                </div>
                <div class="newreq-appbuttons">
                    <button type="button" title="Configuration script credentials" data-toggle="modal" ng-click="ProductionCredentials()" data-target="#CSLModal">Credentials</button>
                </div>
            </div>
            <div id="CSLModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="EMIEpage-title">Settings credentials</span>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div><span class="EMIEControllabel">Domain</span></div>
                                <div>
                                    <input type="text" name="txtCSLUserDomain" id="txtCSLUserDomain" class="form-control" data-ng-model="CSLUserDomain" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div><span class="EMIEControllabel">User name</span></div>
                                <div>
                                    <input type="text" name="txtCSLUserName" id="txCSLUserName" class="form-control" data-ng-model="CSLUserName" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div><span class="EMIEControllabel">Password</span></div>
                                <div>
                                    <input type="password" name="txtCSLPassword" id="txtCSLPassword" class="form-control" data-ng-model="CSLPassword" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="highlight" ng-click="OkConfigurationCredentials()">OK</button>
                            <button type="button" data-dismiss="modal" ng-click="CancelConfigurationCredentials()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div><span class="EMIEControllabel">Website domain for e-mail notification</span></div>
                <div>
                    <input type="text" placeholder="eg. http://site@domain.com" name="txtSiteURL" id="txtSiteURL" class="form-control ng-pristine ng-valid ng-empty ng-touched" required data-ng-model="SiteURL">
                    <span class="error" ng-show="(form.txtSiteURL.$dirty || submitted) && form.txtSiteURL.$error.required">Required!</span>
                </div>
                <div class="newreq-appbuttons">
                    <button type="button" title="Email account credentials" data-toggle="modal" ng-click="EmailAccountCredentials()" data-target="#EmailModal">Credentials</button>
                </div>
            </div>
            <div id="EmailModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="EMIEpage-title">Email account credentials</span>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div><span class="EMIEControllabel">User email</span></div>
                                <div>
                                    <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,7}$" placeholder="employee@example.com" class="form-control" name="txtEmailUserName" ng-model="EmailUserName" maxlength="200" />
                                    <div role="alert">
                                        <span class="error" ng-show="form.txtEmailUserName.$error.email">
                                            Not valid email!
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div><span class="EMIEControllabel">Password</span></div>
                                <div>
                                    <input type="password" name="txtEmailPassword" placeholder="Password" id="txtEmailPassword" class="form-control" data-ng-model="EmailPassword" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="highlight" ng-click="SubmitEmailCredentials()">OK</button>
                            <button type="button" data-dismiss="modal" ng-click="CancelEmailCredentials()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--//===========================================================================================================================================================================
        //                                                        NEEDED IN FUTURE
        //===========================================================================================================================================================================-->
            <!--<div class="row">
            <div><span class="EMIEControllabel">SANDBOX ENVIOURMENT</span><sup>*</sup></div>

            <div class="col-lg-7">
                <input class="form-control ng-pristine ng-valid ng-empty ng-touched" type="text">
            </div>

            <div class="col-lg-2"><button type="button" class="btn btn-success EMIEadd " ng-click="">...</button></div>
        </div>

        <div class="row">
            <div><span class="EMIEControllabel">SANDBOX ENV. CRENDENTIALS</span><sup>*</sup></div>

            <div class="col-lg-7">
                <input class="form-control ng-pristine ng-valid ng-empty ng-touched" type="text">
            </div>

            <div class="col-lg-2"><button type="button" class="btn btn-success EMIEadd " data-toggle="modal" data-target="#myModal1" ng-click="">...</button></div>
        </div>-->
            <!-- Model Popup 2 -->
            <!--<div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">

                </div>

                <div class="modal-body">

                    <div class="row>">
                        <div class="col-lg-6">
                            <div class="row">
                                <div><span class="EMIEControllabel">SELECT GROUPS</span></div>
                                <div class="=col-lg-9">
                                    <select class="form-control" name="BPUName" data-ng-model="GroupName"
                                            data-ng-options="var.BPU as var.BPU for var in AppName | unique:'BPU' | orderBy:'BPU'"
                                            data-ng-change="PopulateApplicationName()" required
                                            ng-class="{'erroneous-field' : (form.BPUName.$dirty || submitted) && form.BPUName.$error.required}">
                                        <option value="">--Select--</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">

                            <div class="row">
                                <div><span class="EMIEControllabel">SELECT APPS</span></div>
                                <div class="col-lg-9">
                                    <select name="Application" class="form-control" data-ng-model="Application" data-ng-disabled="DisabledApplicationName"
                                            data-ng-options="var as var.ApplicationName for var in SelectedApplications"
                                            data-ng-change="PopulateGroupName()" required
                                            ng-class="{'erroneous-field' : (form.Application.$dirty || submitted) && form.Application.$error.required}">
                                        <option value="">-- Select --</option>
                                    </select>&nbsp;
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="radio">
                                <label><input type="radio" name="optradio">ONE TIME</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">WEEKLY</label>
                            </div>
                            <div class="radio disabled">
                                <label><input type="radio" name="optradio" >MONTHLY</label>
                            </div>
                        </div>

                        <!-- Modal 2 right side -->
            <!--<div class="col-lg-8" >
        <div class="row">

            <div class="col-lg-6">
                STARTING
                <div class="col-lg-3" ng-hide="prodDatePicker">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                            ng-model="datePick" is-open="opened" min="minDate" max="'2025-06-22'"
                            datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-disabled="DisableProdDate"
                            ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="open($event)" />
                </div>

            </div>


            <div class="col-lg-6">
                TO-->
            <!--<div class="col-lg-3" ng-hide="prodDatePicker">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                    ng-model="datePick2" is-open="opened" min="minDate" max="'2025-06-22'"
                    datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-disabled="DisableProdDate"
                    ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="open($event)" />
        </div>-->
            <!--</div>
        </div>-->
            <!--     <div>RECURE EVERY:<input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" style="width:25px"> WEEKS ON :</div>
                                <div >
                                    <label class="checkbox-inline"><input type="checkbox" value="">SUNDAY</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">MONDAY</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">TUESDAY</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">WEDNESDAY</label>
                                </div>

                                <div>
                                    <label class="checkbox-inline"><input type="checkbox" value="">THURSDAY</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">FRIDAY</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">SATERDAY</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2"><button type="button" class="btn btn-success ThemeBtn" data-dismiss="modal">SAVE</button></div>
                            <div class="col-lg-2"><button type="button" class="btn btn-success ThemeBtn" data-dismiss="modal">CANCEL</button></div>
                        </div>

                    </div>

                </div>
            </div>

        </div>-->
            <!-- Model popup 3 -->
            <!--<div id="myModal2" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">

                        </div>
                    </div>
                </div>
            </div>

        </div>-->
            <!-- Right Panel -->
            <!--<div class="col-lg-6">-->
            <div>
                <span class="EMIEHeaderTitle">Freeze production changes</span>
            </div>
            <div class="form-row">
                <div><span class="EMIEControllabel">Freeze start date</span></div>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                            ng-model="FreezeProductionChangeStartDate" is-open="popupStartDate.opened" ng-click="openStartDate()"
                            ng-change="ChangeDateForEnd()" datepicker-options="dateOptions" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-row">
                <div><span class="EMIEControllabel">Freeze end date</span></div>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                            ng-model="FreezeProductionChangeEndDate" is-open="popupEndDate.opened" ng-click="openEndDate()"
                            datepicker-options="dateOptions" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <!--//===========================================================================================================================================================================
        //                                                        NEEDED IN FUTURE
        //===========================================================================================================================================================================-->
            <!--<div class="row">
            <div><span class="EMIEControllabel">FREEZE PRODUCTION CHANGE</span></div>
            <div class="col-lg-9">
                <textarea name="FreezProductionChange" class="form-control" rows="1"></textarea>&nbsp;
            </div>
        </div>

        <div class="row" style="margin-right: 60px;">
            <div class="col-lg-5"></div>
            <div class="col-lg-3">
                <button type="button" class="btn btn-success ThemeBtn" ng-click="">EDIT FREEZE SCHEDULE</button>
            </div>

        </div>-->
            <!--</div>-->
            <div>
                <button class="highlight" ng-click="Save()">Save</button>
            </div>
        </div>
        <message-center></message-center>
    </form>
</div>
<script>
    url();
</script>