<div class="emie-breadcrumb">
    <div>Home</div>
    <div class="current">{{PageNameRedirected}}</div>
</div>
<div>
    <span class="EMIEpage-title EMIEspacer">{{PageNameRedirected}}</span>
</div>
<div disable-all="isUserPageDisabled">
    <form name="form" id="CreateUserForm" ng-submit="$event.preventDefault()">
        <div class="form-column">
            <div class="form-row">
                <div><span class="EMIEControllabel">Email</span></div>
                <div>
                    <input type="text" name="txtUserEmail" id="txtUserEmail" ng-change="GetUserEmailText(NewUserEmail)" ng-minlength="5" class="form-control" data-ng-model="NewUserEmail" required data-toggle="dropdown">
                    <span class="error" ng-show="(form.txtUserEmail.$dirty || submitted) && form.txtUserEmail.$error.required">Required!</span>
                    <span class="error" ng-show="(form.txtUserEmail.$dirty || submitted) && form.txtUserEmail.$error.minlength">Too short!</span>
                    <ul id="color-dropdown-menu" class="dropdown-menu dropdown-menu-right" ng-show="searcheduserlist.length>=1" style="width:425px;height:auto;max-height:400px !important;overflow-y:auto;position:relative" role="menu">
                        <li ng-repeat="user in searcheduserlist" class="input-lg" ng-click="searchedUserFromDDL(user)">{{user.DisplayName}}</li>
                    </ul>
                    <span class="dropdown-menu dropdown-menu-left" style="position: relative; width: 411px;" ng-model="NoResultText" ng-show="searcheduserlist.length==0 && NewUserEmail.length>1 && !IsSearching">No employees matching "{{NewUserEmail}}" were found. </span>
                    <span class="dropdown-menu dropdown-menu-left" style="position: relative; width: 411px;" ng-show="NewUserEmail.length>1&& IsSearching">Searching employees...</span>
                </div>
            </div>
            <div class="form-row">
                <div><span class="EMIEControllabel">Name</span></div>
                <div>
                    <input type="text" name="txtUserName" id="txtUserName" class="form-control" data-ng-model="NewUserName" required disabled>
                    <span class="error" ng-show="(form.txtUserName.$dirty || submitted) && form.txtUserName.$error.required">Required!</span>
                </div>
            </div>
            <div class="form-row">
                <div><span class="EMIEControllabel">Role</span></div>
                <div>
                    <select class="form-control" name="selectRole" ng-model="NewUserRole" ng-change="BindBPUForSelectedRole(NewUserRole)" ng-options="role.RoleName for role in roleList" required>
                        <option value='' disabled selected>Select</option>
                    </select>
                    <span class="error" ng-show="(form.selectRole.$dirty || submitted) && form.selectRole.$error.required">Required!</span>
                </div>
            </div>
            <div class="form-row">
                <div><span class="EMIEControllabel">Group name</span></div>
                <div>
                    <select class="form-control" name="selectBPU" ng-model="selectedBPU" ng-disabled="DDLDisableOnALLGroup" ng-options="bpu.BPU1 disable when bpu.AllBPUDiabled for bpu in bpuList" required>
                        <option value='' disabled selected>Select</option>
                    </select>
                    <span class="error" ng-show="(form.selectBPU.$dirty || submitted) && form.selectBPU.$error.required">Required!</span>
                </div>
            </div>
            <div class="form-row">
                <button type="button" class="highlight" ng-disabled="SaveBtnDisable" ng-click="AddUser()">Save</button>
                <button type="reset" ng-click="ClearAllFiledsOfCreatePage()">Clear</button>
            </div>
            <div class="form-row">
                <div><span ng-show="loginlinkshow">Already registered? <a href="#/Login">Sign in</a> here.</span></div>
            </div>
        </div>
        <div class="form-column">
            <div class="form-row">
                <div><span class="EMIEControllabel">Comments (optional)</span></div>
                <div>
                    <textarea id="TextAreaComments" name="txtComments" rows="4" class="form-control" data-ng-model="Comments" maxlength="100"></textarea>
                </div>
            </div>
            <div class="form-row" ng-hide="IsActiveCreateUserPageHidden">
                <input type="checkbox" ng-model="IsActive" />Active
            </div>
        </div>
        <message-center></message-center>
    </form>
</div>
<script>
    url();
</script>
