<div class="EMIEheader-container">
    <div class="EMIEheader" ng-controller="LoginController">
        <div class="page-margins">
            <!--<div style="color:#3F51B5">{{Message}}</div>-->
            <img src="../App/Views/img/microsoft-logo.png" class="mslogo" />
            <div class="EMIEusermenu user-account">
                <a href="javascript:;">
                    <div>
                        <span>{{User.UserRole.RoleName}}</span>
                        <span>{{User.UserName}}</span>
                    </div>
                </a>
                <ul class="dropdown">
                    <li>
                        <a href="#/Logout">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="EMIEsubheader">
        <div class="page-margins">
            <h4 class="EMIEtitle">
                <a href="#/SignInSuccess">Enterprise Mode: Self Service Portal</a>
            </h4>
            <ul class="navlinks EMIEusermenu">
                <li>
                    <a class="tool EMIEentapp hidden" href="#/SiteLists" data-toggle="tooltip" data-placement="bottom" title="Enterprise Mode Site List Manager"></a>
                </li>
                <li>
                    <a class="production" href="#/ProductionSites" data-toggle="tooltip" data-placement="bottom" title="Production sites list"></a>
                </li>
                <li>
                    <a class="reports EMIEstats hidden" href="#/Chart" data-toggle="tooltip" data-placement="bottom" title="Enterprise Mode reports"></a>
                </li>
                <li>
                    <a class="usermgmt EMIEusrconfig hidden" href="#/User" data-toggle="tooltip" data-placement="bottom" title="Employee management"></a>
                </li>
                <li>
                    <a class="settings EMIEsetting hidden" href="#/Configuration" data-toggle="tooltip" data-placement="bottom" title="Settings"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div growl></div>
<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" ng-controller="LayoutController">
        <div class="count">
            <div class="total-count">{{MyRequestToShow}}</div>
            <div class="total-count-txt">{{CountText}}</div>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="newcr-tab" role="tab" id="headingOne">
                    <div class="panel-title">
                        <button ng-click="GetCount()" class="newcr-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span>My requests</span>
                            <!--{{TicketCounts[0].MyRequest}} <div ></div>-->
                            <span id="MyRequest" class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                    </div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul class="sidebar-nav">
                            <li class="req-tab in-progress">
                                <a href="" ng-click="InProgress()">
                                    <div class="counts">
                                        {{TicketCounts[0].RequestInitiated}}
                                    </div>
                                    <div class="req-type">In progress</div>
                                </a>
                            </li>
                            <li class="req-tab closed">
                                <a href="" ng-click="Closed()">
                                    <div class="counts">
                                        {{TicketCounts[0].SignedOff}}
                                    </div>
                                    <div class="req-type">Closed</div>
                                </a>
                            </li>
                            <li class="req-tab rejected">
                                <a href="" ng-click="Rejected()">
                                    <div class="counts">
                                        {{TicketCounts[0].RequestRejected}}
                                    </div>
                                    <div class="req-type">Rejected</div>
                                </a>
                            </li>
                            <li class="req-tab rollbacks">
                                <a href="" ng-click="Rollback()">
                                    <div class="counts">
                                        {{TicketCounts[0].RequestRollback}}
                                    </div>
                                    <div class="req-type">Rolled back</div>
                                </a>
                            </li>
                            <li class="req-tab pending hidden">
                                <a href="" ng-click="Pending()">
                                    <div class="counts">
                                        {{TicketCounts[0].PendingApproval}}
                                    </div>
                                    <div class="req-type">Approvals pending</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="newcr-tab" role="tab" id="headingTwo">
                    <div class="panel-title">
                        <button class="newcr-btn collapsed" ng-click="GetAllCount()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span>All requests</span>
                            <!--{{TicketCounts[1].MyRequest}}<div></div>-->
                            <span id="AllRequest" class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                    </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul class="sidebar-nav">
                            <li class="req-tab in-progress">
                                <a href="" ng-click="InProgress('true')">
                                    <div class="counts">
                                        {{TicketCounts[1].RequestInitiated}}
                                    </div>
                                    <div class="req-type">In progress</div>
                                </a>
                            </li>
                            <li class="req-tab closed">
                                <a href="" ng-click="Closed('true')">
                                    <div class="counts">
                                        {{TicketCounts[1].SignedOff}}
                                    </div>
                                    <div class="req-type">Closed</div>
                                </a>
                            </li>
                            <li class="req-tab rejected">
                                <a href="" ng-click="Rejected('true')">
                                    <div class="counts">
                                        {{TicketCounts[1].RequestRejected}}
                                    </div>
                                    <div class="req-type">Rejected</div>
                                </a>
                            </li>
                            <li class="req-tab rollbacks">
                                <a href="" ng-click="Rollback('true')">
                                    <div class="counts">
                                        {{TicketCounts[1].RequestRollback}}
                                    </div>
                                    <div class="req-type">Rolled back</div>
                                </a>
                            </li>
                            <li class="req-tab pending hidden">
                                <a href="" ng-click="Pending('true')">
                                    <div class="counts">
                                        {{TicketCounts[1].PendingApproval}}
                                    </div>
                                    <div class="req-type">Approvals pending</div>
                                </a>
                            </li>
                            <li class="req-tab req-all hidden">
                                <a href="" ng-click="AllRequestsForEMIEChampion('true')">
                                    <div class="counts">
                                        {{TicketCounts[1].MyRequest}}
                                    </div>
                                    <div class="req-type">All requests</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-req">
            <a href="#/NewCR">Create new request</a>
        </div>
    </div>
    <div class="content">
        <div ng-view></div>
    </div>
</div>
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>