<script>
    $(document).ready(function (e) {
        $("#wrapper").addClass("toggled");
        $(".status").css("display", "none");
    });
</script>

<div class="container EMIELogininfo" disable-all="isLoginHomeDisabled">
    <div class="message">
        <p>Welcome to the Enterprise Mode Site List Portal. This portal is intended to help you manage your Enterprise Mode Site List requests.</p>
        <p>Enterprise Mode, a compatibility mode that runs on Internet Explorer 11, lets websites render using a modified browser configuration that’s designed to emulate older versions of Internet Explorer, avoiding the common compatibility problems associated with legacy web apps. Any website that is not compatible with Microsoft Edge can be redirected to Internet Explorer using the best browser configuration via the Enterprise Mode Site List.</p>
        <p>For more info about Enterprise Mode and site lists, see the <a class="btn-link" href="https://technet.microsoft.com/en-us/itpro/internet-explorer/ie11-deploy-guide/enterprise-mode-overview-for-ie11" target="_blank">Enterprise Mode TechNet articles</a>.</p>
    </div>
    <div class="login">
        <h1>Sign in</h1>
        <button data-toggle="collapse" class="btn btn-primary EMIEbtn" ng-click="Login()">Sign in</button>
        <p>Need an account? <a href="javascript:;" ng-click="Register()" class="register">Register now</a></p>
    </div>
    <message-center></message-center>
</div>
<script>

    url();
</script>
