<div class="emie-breadcrumb">
    <div><a href="#/SignInSuccess">Home</a></div>
    <div class="current">Add new site</div>
</div>
<div>
    <span class="EMIEpage-title">Add new site</span>
</div>
<form ng-model="AddNewSite" name="AddWebsite">
    <div class="form-row">
        <div>
            <span class="EMIEControllabel">URL</span>
        </div>
        <div>
            <input type="text" data-ng-model="siteUrl" ng-change="CheckPathIncluded(siteUrl)" ng-disabled="IsEdit" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div>
            <span class="EMIEControllabel">Notes about URL</span>
        </div>
        <div>
            <textarea class="form-control" data-ng-model="siteNotes" rows="5"></textarea>
        </div>
    </div>
    <div class="form-row" ng-hide="IsEdit">
        <input type="checkbox" data-ng-model="IsValidURL" checked="{{IsValidURL}}" />Validate URLs
    </div>
    <div class="panel-group form-row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-4">Compat mode</div>
                    <div class="col-lg-3">Open in</div>
                    <div class="col-lg-3">URL</div>
                </div>
            </div>
            <div class="panel-collapse">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-4">
                                <select name="domain" class="form-control" data-ng-model="DocModeName" data-ng-options="var as var.DocModeName for var in DocModes"
                                        required ng-class="{'erroneous-field' : (AddWebsite.domain.$dirty || submitted) && AddWebsite.domain.$error.required}">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                            <div class="col-lg-3 input-row">
                                <div><input type="radio" data-ng-model="OpenIn" name="OpenIn" value="IE11" />Internet Explorer 11</div>
                                <div><input type="radio" data-ng-model="OpenIn" name="OpenIn" value="MSEdge" />Microsoft Edge</div>
                                <div><input type="radio" data-ng-model="OpenIn" name="OpenIn" value="None" />None</div>
                            </div>
                            <div class="col-lg-3 input-row">
                                <span data-ng-model="siteUrlwithoutPath">{{siteUrlwithoutPath}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item" ng-show="isPathIncluded">
                        <div class="row">
                            <div class="col-lg-4">
                                <select name="subdomain" class="form-control" ng-required="isPathIncluded == true" ng-class="{'erroneous-field' : (AddWebsite.subdomain.$dirty || submitted) && AddWebsite.subdomain.$error.required}" data-ng-model="DocModeNameSubURL"
                                        data-ng-options="var as var.DocModeName for var in DocModes">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                            <div class="col-lg-3 input-row">
                                <div><input type="radio" data-ng-model="OpenInForPath" name="OpenInForPath" value="IE11" />Internet Explorer 11</div>
                                <div><input type="radio" data-ng-model="OpenInForPath" name="OpenInForPath" value="MSEdge" />Microsoft Edge</div>
                                <div><input type="radio" data-ng-model="OpenInForPath" name="OpenInForPath" value="None" />None</div>
                            </div>
                            <div class="col-lg-3 input-row">
                                <span data-ng-model="subURL">{{siteUrlWithPath}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-row">
        <button type="button" ng-model="action" ng-click="addNewItem()" ng-disabled="disableSaveButton" class="highlight">Save</button>
        <button type="button" ng-click="cancel()">Cancel</button>
    </div>
    <div class="modal fade" id="SitelistModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog mrgTop15p GetKeyPopUp" role="document">
            <div class="modal-content">
                <div class="modal-header" ng-class="setcss(LISTCONTENT.Type)">
                    <span class="EMIEpage-title">{{LISTCONTENT.Title}}</span>
                </div>
                <div class="modal-body">
                    <span ng-bind-html="LISTMESSAGE"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="highlight" data-ng-click="Confirm(LISTCONTENT.MethodCase,LISTCONTENT.Object)" data-dismiss="modal" title="{{'Confirm'}}"> {{'OK'}}</button>
                    <button type="button" data-ng-click="CancelValidationFail(LISTCONTENT.MethodCase)" ng-hide="HideCancelModal" data-dismiss="modal" title="{{'Cancel'}}">{{'Cancel'}}</button>
                </div>
            </div>
        </div>
    </div>
</form>
<message-center></message-center>
<script>
    url();
</script>

