<!--<notifications-bar class="notifications"></notifications-bar>-->
<!--<div notifications-bar class="notifications"></div>-->
<div class="emie-breadcrumb">
    <div>Home</div>
    <div class="current" ng-hide="IsNewRequest">New Request</div>
    <div ng-hide="IsOldRequest">All Requests</div>
    <div class="current" ng-hide="IsOldRequest">Request ID #{{TicketId}}</div>
</div>
<div>
    <span class="EMIEpage-title" ng-hide="IsNewRequest">Create new request</span>
    <span class="EMIEpage-title" ng-hide="IsOldRequest">Request ID #{{TicketId}}</span>
</div>
<!-- Status Panel -->
<div class="status">
    <ul id="status-child">
        <li id="First-child" class="First-child">
            <a href="#/RequestPage">
                <span class="circle"></span>
                <span class="text">Submit request</span>
            </a>
        </li>
        <li id="Middle-child-1" class="Middle-child">
            <span class="line"></span>
            <a href="#/SandboxPage">
                <span class="circle"></span>
                <span class="text">Pre-production validation</span>
            </a>
        </li>
        <li id="Middle-child-2" class="Middle-child">
            <span class="line"></span>
            <a href="#/ApproversPage">
                <span class="circle"></span>
                <span class="text">Approvals</span>
            </a>
        </li>
        <li id="Middle-child-3" class="Middle-child">
            <span class="line"></span>
            <a href="#/ProductionChangePage">
                <span class="circle"></span>
                <span class="text">Production deployment</span>
            </a>
        </li>
        <li id="Last-child" class="Last-child">
            <span class="line"></span>
            <a href="#/SignOffPage">
                <span class="circle"></span>
                <span class="text">Production validation</span>
            </a>
        </li>
    </ul>
    <hr />
</div>
<div>
    <form name="form">
        <div disable-all="NewCRDisabled">
            <div class="form-column">
                <div class="form-row">
                    <div><span class="EMIEControllabel" title="Choose your group's name">Group name</span></div>
                    <div>
                        <select ng-disabled="IsDisabledForEdit" class="form-control" name="BPUName" data-ng-model="GroupName"
                                data-ng-options="var.BPU as var.BPU for var in AppName | unique:'BPU' | orderBy:'BPU'"
                                data-ng-change="PopulateApplicationName()" required
                                ng-class="{'erroneous-field' : (form.BPUName.$dirty || submitted) && form.BPUName.$error.required}">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div><span class="EMIEControllabel" title="Choose the name of the app to change">App name</span></div>
                    <div class="form-dropdown">
                        <input type="text" ng-disabled="IsDisabledForEdit" title="{{TypedApplicationName}}" maxlength="130" name="txtApplicationOfBPU" id="txtApplicationOfBPU"
                               ng-change="GetApplicationOfAutocompleteText(TypedApplicationName)" ng-minlength="2" class="form-control"
                               data-ng-model="TypedApplicationName" required data-toggle="dropdown" ng-class="{'erroneous-field' : (form.txtApplicationOfBPU.$dirty || submitted) && form.txtApplicationOfBPU.$error.required}">
                        <!--<span class="error" ng-show="(form.txtApplicationOfBPU.$dirty || submitted) && form.txtApplicationOfBPU.$error.required">Required!</span>-->
                        <span class="error" ng-show="(form.txtApplicationOfBPU.$dirty || submitted) && form.txtApplicationOfBPU.$error.minlength">Too short!</span>
                        <ul id="color-dropdown-menu" class="dropdown-menu dropdown-menu-right" ng-show="AppListOfSelectedBPUToShow.length>=1" style="margin-right:14px; width:313px;height:auto;max-height:400px !important;overflow-y:scroll" role="menu">
                            <li ng-repeat="app in AppListOfSelectedBPUToShow" class="input-lg" ng-click="searchedApplicationFromDDL(app)" title="{{app.ApplicationName}}" style="margin:5px">{{app.ApplicationName| limitTo: 30}}{{app.ApplicationName.length > 30 ? '...' : ''}}</li>
                        </ul>
                        <span class="dropdown-menu dropdown-menu-left error" ng-show="(form.TypedApplicationName.$dirty || submitted) && form.TypedApplicationName.$error.minlength">Too short!</span>
                        <span class="dropdown-menu dropdown-menu-left" ng-show="AppListOfSelectedBPUToShow.length==0 && TypedApplicationName.length>1">No application matching "{{TypedApplicationName}}" were found. </span>
                    </div>
                    <div class="newreq-appbuttons">
                        <button type="button" ng-disabled="IsDisabledForEdit" data-toggle="modal" data-target="#appModal" ng-click="LoadAllApplicationsToSearch()">Search all applications</button>
                    </div>
                    <div id="appModal" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header"><span class="EMIEpage-title">All applications</span></div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-8"></div>
                                        <div class="col-lg-4">
                                            <div class="input-group">
                                                <input type="text" name="modaltxtApplicationOfBPU" ng-minlength="2" id="modaltxtApplicationOfBPU" ng-change="GetApplicationOfAutocompleteText(ModalTypedApplicationName)" class="form-control" data-ng-model="ModalTypedApplicationName" placeholder="Search Application" data-toggle="dropdown">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </span>
                                                <ul id="color-dropdown-menu" ng-show="AppListOfSelectedBPUToShowInModel.length>=1" class="dropdown-menu dropdown-menu-right" style="margin-right:14px; width:256px;height:auto;max-height:400px !important;overflow-y:scroll" role="menu">
                                                    <li ng-repeat="app in AppListOfSelectedBPUToShowInModel" class="input-lg" ng-click="ModalsearchedApplicationFromDDL(app)">{{app.ApplicationName | limitTo: 30}}{{app.ApplicationName.length > 30 ? '...' : ''}}</li>
                                                </ul>
                                                <span class="dropdown-menu dropdown-menu-left error" style="width: 232px; padding-left: 8px;" ng-show="(form.modaltxtApplicationOfBPU.$dirty || submitted) && form.modaltxtApplicationOfBPU.$error.minlength">Too short!</span>
                                                <span class="dropdown-menu dropdown-menu-left" ng-show="AppListOfSelectedBPUToShowInModel.length==0 && ModalTypedApplicationName.length>1">No application matching "{{ModalTypedApplicationName}}" were found. </span>
                                            </div>
                                        </div>
                                        <div></div>
                                    </div>
                                    <dir-pagination-controls max-size="10"
                                                             direction-links="true"
                                                             boundary-links="true">
                                    </dir-pagination-controls>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" id="EMIEexpandr">
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-7"><span ng-click="sortByAppName(LoadedApplicationList)">Application name</span></div>
                                                <div class="col-lg-3">Group name</div>
                                            </div>
                                        </div>
                                        <div id="UMpanel" class="panel-collapse">
                                            <ul class="list-group">
                                                <li class="list-group-item" dir-paginate="application in LoadedApplicationList |itemsPerPage:10">
                                                    <div class="row">
                                                        <div class="col-lg-2"><input type="checkbox" ng-click="updateSelection($index, application,LoadedApplicationList,isAppChecked)" ng-model="application.checked" ng-change="GetSelectedApplication(application)" /></div>
                                                        <div class="col-lg-7">{{ application.ApplicationName }}</div>
                                                        <div class="col-lg-3">{{application.BPU }}</div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="highlight" ng-disabled="disableSelectBtn" data-dismiss="modal" ng-click="BindApplicationNameAndBPU()">Select</button>
                                    <button type="button" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newreq-appbuttons">
                        <button type="button" data-toggle="modal" data-target="#NewApplicationModal" ng-click="PopulateNewApplicationFormFields()" ng-disabled="IsAddAppDisabled">Add new application</button>
                        <!-- Modal or Pop-up for Add Application -->
                        <div id="NewApplicationModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header"><span class="EMIEpage-title">Add application</span></div>
                                    <div class="modal-body">
                                        <div class="form-row">
                                            <div>
                                                <span class="EMIEControllabel">Application name</span>
                                            </div>
                                            <div>
                                                <input type="text" ng-model="NewApplicationName" maxlength="200" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div>
                                                <span class="EMIEControllabel">
                                                    Group name
                                                </span>
                                            </div>
                                            <div>
                                                <select class="form-control" name="NewBPUName" data-ng-model="NewGroupName"
                                                        data-ng-options="var.BPU1 for var in NewAllBPUList">
                                                    <option value="">--Select--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="IsActiveCheckbox" name="ischeck" ng-disabled="true" ng-model="IsActiveApp" ng-checked="true">
                                            <span>Active</span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="highlight" ng-click="CreateNewApplication()">Save</button>
                                        <button type="button" data-dismiss="modal" ng-click="ClearFiledsOnClose()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div><span class="EMIEControllabel" title="Name of the request creator">Requested by</span></div>
                    <div>
                        <input name="RequestedBy" data-ng-disabled="true" class="form-control" data-ng-model="RequestedBy" />
                    </div>
                </div>
                <div class="form-row">
                    <div><span class="EMIEControllabel" title="Enter text about what you want to change and why">Description</span></div>
                    <div>
                        <textarea name="ChngDesc" class="form-control" rows="5" data-ng-model="ChangeDescription" required
                                  ng-class="{'erroneous-field' : (form.ChngDesc.$dirty || submitted) && form.ChngDesc.$error.required}" maxlength="300"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div><span class="EMIEControllabel" title="Choose the type of change you're requesting">Requested change</span></div>
                    <div>
                        <select name="ChngType" ng-disabled="IsDisabledForEdit" class="form-control" data-ng-model="Changetype" data-ng-change="DisableOnDelete()"
                                data-ng-options="var as var.ChangeTypeName for var in ChangeType" required
                                ng-class="{'erroneous-field' : (form.ChngType.$dirty || submitted) && form.ChngType.$error.required }">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div><span class="EMIEControllabel" title="Choose the reason for your request">Reason for request</span></div>
                    <div>
                        <!--<textarea class="form-control" rows="5"></textarea>-->
                        <select name="ReasonfrChng" class="form-control" data-ng-model="ChangeReason" data-ng-disabled="DisableReasonfrChng"
                                data-ng-options="var.ReasonForChangeId as var.ReasonForChangeName for var in ReasonForChange" ng-required="DisableReasonfrChng == false"
                                ng-class="{'erroneous-field' : (form.ReasonfrChng.$dirty || submitted) && form.ReasonfrChng.$error.required }">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div><span class="EMIEControllabel" title="Enter text about what you think the potential business impact would be">Business impact (optional)</span></div>
                    <div>
                        <textarea class="form-control" rows="5" data-ng-model="BusinessImpact" maxlength="200"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-column">
                <div class="form-row">
                    <div><span class="EMIEControllabel" title="Enter the full URL location to the app">App location (URL)</span></div>
                    <div>
                        <input name="URLName" id="DomainURL" type="url" class="form-control" data-ng-model="AppURL" placeholder="http://site-name" required ng-change="CheckPathIncluded(AppURL)"
                               ng-class="{'erroneous-field' : (form.URLName.$dirty || submitted || valid) && form.URLName.$error.required}" maxlength="200" ng-init="AppURL='http://'">
                    </div>
                </div>
                <div class="form-row">
                    <div><span class="EMIEControllabel" title="Choose which browser best renders the app">App best viewed in</span></div>
                    <div>
                        <select name="DocModeValidation" class="form-control" data-ng-model="DocModesModel" data-ng-disabled="DisableDocMode"
                                data-ng-options="var as var.DocModeName disable when var.toggleDocmodeDisable for var in DocModes" ng-required="DisableDocMode == false"
                                ng-class="{'erroneous-field' : (form.DocModeValidation.$dirty || submitted) && form.DocModeValidation.$error.required}">
                            <option value="" ng-disabled="disableEdge.indexOf(DocModes.DocModeName) !== -1">-- Select --</option>
                        </select>
                    </div>
                    <div>
                        <div ng-show="isPathIncluded">
                            <input type="checkbox" value="" data-ng-model="DomainOpenInEdge" ng-disabled="DisableDocMode" ng-change="DisableXUADetails()" />Open in Edge
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div><span class="EMIEControllabel" title="Tell us if application pages uses X-UA compatible header to restrict a webpage to legacy document modes.">Is an <a href="https://msdn.microsoft.com/en-us/library/jj676915(v=vs.85).aspx" target="_blank">X-UA tag</a> used?  (optional)</span></div>
                    <div>
                        <select class="form-control" data-ng-model="IsVisible" data-ng-change="ChangeRequired()" data-ng-disabled="DisableXUATag">
                            <option value="">-- Select --</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div data-ng-show="IsVisible == 'true'">
                    <div class="form-row">
                        <div><span class="EMIEControllabel" title="Tell us if X-UA compatible tag gets applied to the app page">Honor X-UA Compatible tag (optional)</span></div>
                        <div>
                            <input type="checkbox" value="" data-ng-model="HonorDomain" ng-change="DisableDocmodeList()">
                        </div>
                    </div>
                    <div class="form-row">
                        <div><span class="EMIEControllabel" title="Provide X-UA compatible tag details in html format.">X-UA Compatible tag details</span></div>
                        <div>
                            <input name="XUATag" type="text" class="form-control" data-ng-model="XUADetails" ng-required="IsVisible == 'true'"
                                   ng-class="{'erroneous-field' : (form.XUATag.$dirty || submitted) && form.XUATag.$error.required}" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div><span class="EMIEControllabel" title="Does application have multiple pages with different X-UA meta tags?">Are multiple X-UA Compatible tags used?</span></div>
                        <div>
                            <select name="Multipletag" class="form-control" data-ng-model="IsMultipleTags" ng-required="IsVisible == 'true'"
                                    ng-class="{'erroneous-field' : (form.Multipletag.$dirty || submitted) && form.Multipletag.$error.required}">
                                <option value="">-- Select --</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <!--<span class="error" ng-show="(form.Multiple-tag.$dirty || submitted) && form.Multiple-tag.$error.required  && IsVisible == true">Required!</span>-->
                        </div>
                    </div>
                </div>
                <!--<div>
                    <div><span class="EMIEControllabel" title="Provide FQDN (Fully Qauilified Domain Name) if site is accessible to external world.">FQDN if external facing</span></div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" data-ng-model="FQDN" data-ng-disabled="DisableFQDN">
                    </div>
                </div>-->
                <!--<div ng-show="isPathIncluded">
                    <div class="col-lg-6  text-left"><span class="EMIEControllabel text-primary">SUBDOMAIN DETAILS</span></div>
                </div>-->
                <div class="form-row" ng-show="isPathIncluded">
                    <div><span class="EMIEControllabel">Path</span></div>
                    <div ng-show="isPathIncluded">
                        <!--<span data-ng-model="subURL" class="form-control">{{siteUrlWithPath}}</span>-->
                        <input name="subdomainURLName" id="URLName" type="text" class="form-control" data-ng-model="siteUrlWithPath" ng-disabled="true" maxlength="200">
                    </div>
                </div>
                <div class="form-row" ng-show="isPathIncluded">
                    <div><span class="EMIEControllabel">Docmode</span></div>
                    <div>
                        <select name="SubDomainDocModeValidation" class="form-control" data-ng-model="DocModeNameSubURL" data-ng-disabled="DisableSubDocMode"
                                data-ng-options="var as var.DocModeName for var in SubDomainDocModes" ng-required="isPathIncluded == true && DisableSubDocMode== false"
                                ng-class="{'erroneous-field' : (form.SubDomainDocModeValidation.$dirty || submitted) && form.SubDomainDocModeValidation.$error.required}">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                    <div>
                        <div><input type="checkbox" value="" data-ng-model="HonorSubDomain" ng-change="DisableSubDomainDocmodeList()" ng-disabled="DisableSubDocModeXUAHonor" />Honor X-UA</div>
                            <div><input type="checkbox" value="" data-ng-model="SubDomainOpenInEdge" ng-disabled="DisableSubDocMode" ng-change="DisableSubDomainXUAHonor()" />Open in Edge</div>
                    </div>
                </div>
            </div>
            <!--Right Panel-->
        </div>
        <div class="form-row">
            <button type="button" class="highlight" ng-click="SubmitTicket(AppURL,IsEdit)" ng-disabled="IsSubmitted">Save and continue</button>
            <button type="button" ng-click="EditTicket(AppURL,true)" ng-disabled="IsEditDisabled">Edit</button>
            <button type="button" ng-click="Reset()" ng-disabled="IsSubmitted">Clear screen</button>
            <button type="button" ng-click="Cancel()" ng-disabled="IsSubmitted">Cancel</button>
        </div>
        <message-center></message-center>
    </form>
    <div class="form-column form-row disclaimer">The application information and details provided here are best to my knowledge. I solely responsible for any inferences occurred due to this change for selected application.</div>
    <script>
        url();
    </script>
</div>