<div class="emie-breadcrumb">
    <div>Home</div>
    <div class="current">Production Site List</div>
</div>
<div>
    <span class="EMIEpage-title">Production Site List</span>
</div>
<div class="EMIEsearch input-group">
    <input type="text" class="form-control" ng-model="searchProdSites" ng-change="SearchProductionSites(searchProdSites)" placeholder="Search by site">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
</div>
<div class="panel-group" ng-hide="IsDuplicate">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <!--<div class="col-lg-1">TicketId</div>
                <div class="col-lg-2">Application Name</div>-->
                <div class="col-lg-6 clickable" ng-click="filterByUrl(productionsiteInfo)">
                    <span class="name">URL</span> <span class="glyphicon glyphicon-sort text-right"></span>
                </div>
                <div class="col-lg-4 clickable" ng-click="filterByCompatmode(productionsiteInfo)">
                    <span class="name">Compat mode</span> <span class="glyphicon glyphicon-sort"></span>
                </div>
                <!--<div class="col-lg-2"><span class="clickable" ng-click="orderByField='NotesAboutURL'; reverseSort = !reverseSort">Notes About URL</span> <span class="glyphicon glyphicon-sort" ng-click="orderByField='NotesAboutURL'; reverseSort = !reverseSort"></span></div>-->
                <div class="col-lg-2 clickable" ng-click="filterByOpenIn(productionsiteInfo)">
                    <span class="name">Open in</span><span class="glyphicon glyphicon-sort text-right"></span>
                </div>
                <!--<div class="col-lg-2">Last Modified By</div>-->
            </div>
        </div>
        <div id="requestPanel" class="panel-collapse">
            <ul class="list-group">
                <li class="list-group-item" dir-paginate="site in productionsiteInfo|itemsPerPage:itemsPerPage|limitTo:config.itemsDisplayedInList track by site.FullURL">
                    <div class="row">
                        <!--<div class="col-lg-1">{{site.TicketId}}</div>
                        <div class="col-lg-2">{{site.ApplicationName}}</div>-->
                        <div class="col-lg-6" style="word-break:break-all">{{site.FullURL}}</div>
                        <div class="col-lg-4">{{site.DomainDocMode}}</div>
                        <!--<div class="col-lg-2" style="word-break:break-all">{{site.NotesAboutURL}}</div>-->
                        <div class="col-lg-2">{{site.OpenIn}}</div>
                        <!--<div class="col-lg-2">{{site.LastModifiedBy}}</div>-->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div ng-hide="disableProduction">
    <dir-pagination-controls ng-disabled="disableProduction" max-size="10"
                             direction-links="true"
                             boundary-links="true">
    </dir-pagination-controls>
</div>
<script>
    url();
</script>