<div class="emie-breadcrumb">
    <div>Home</div>
    <div class="current">Enterprise Mode Site List Manager</div>
</div>
<div>
    <span class="EMIEpage-title">Enterprise Mode Site List Manager</span>
</div>
<div ng-model="disableAll">
    <fieldset ng-disabled="disableAll" id="sitelistpage">
        <div class="EMIEsearch input-group open" ng-hide="IsDuplicate">
            <input type="text" ng-model="search" ng-change="Search(search)" class="form-control" placeholder="Search" />
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <span class="dropdown-menu dropdown-menu-left" style="padding-left: 7px;  width: 271px; " ng-show="siteInfo.length==0 && search.length>1">No match for "{{search}}" found. </span>
        </div>
        <div class="form-row" ng-hide="IsDuplicate">
            <button type="button" ng-click="AddNewWebsite()">Add new site</button>
            <button type="button" data-toggle="modal" data-target="#modalSavexml" title="Save XML file" ng-disabled="disableSave" ng-click="ClearVersionOfModel()">Save as XML</button>
            <input type="file" class="form-control" style="height:40px !important; display: none" id="file" name="file" title="Add websites from XML file" accept=".xml" on-read-file="showContent($fileContent)" />
            <button title="Add websites from XML file" onclick="document.getElementById('file').click()">Bulk add from file</button>
            <input type="file" class="form-control" style="height:40px !important; display: none" id="fileImport" name="file" title="Add websites from Text file" accept=".emie" on-read-file="ImportTextFile($fileContent)" />
            <button title="Add websites from Text file" onclick="document.getElementById('fileImport').click()">Import</button>
            <button type="button" title="Save Text file" data-toggle="modal" data-target="#modalSavetext" ng-click="ClearVersionOfModel()" ng-disabled="disableExport">Export</button>
            <!-- Modal Save as xml -->
            <div class="modal fade" id="modalSavexml" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="EMIEpage-title">Choose Enterprise Mode schema version</span>
                        </div>
                        <div class="modal-body form-row">
                            <div>
                                <input type="radio" ng-model="version" value="version1" name="optradio1">Enterprise Mode schema v.1
                            </div>
                            <div>
                                <input type="radio" ng-model="version" value="version2" name="optradio2">Enterprise Mode schema v.2
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="highlight" ng-click="SaveAsXml(siteInfo,version)" ng-disabled="!version" data-dismiss="modal">Save</button>
                            <button type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal-->
            <!-- Modal Save as xml -->
            <div class="modal fade" id="modalSavetext" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="EMIEpage-title">Choose Enterprise Mode schema version</span>
                        </div>
                        <div class="modal-body form-row">
                            <div>
                                <input type="radio" ng-model="version" value="version1" name="optradio">Enterprise Mode schema v.1
                            </div>
                            <div>
                                <input type="radio" ng-model="version" value="version2" name="optradio">Enterprise Mode schema v.2
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="highlight" ng-click="Export(siteInfo,version)" ng-disabled="!version" data-dismiss="modal">Save</button>
                            <button type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <button type="button" ng-disabled="disableClear" ng-click="ClearLists()">Clear list</button>
            <button type="button" class="highlight" ng-hide="disableClear" ng-click="bulkAddToProduction()">Add sites to production list</button>
        </div>
        <div class="panel-group" ng-hide="IsDuplicate">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-3 clickable" ng-click="SortByURL(siteInfo)">
                            <span class="name">URL</span>
                            <span class="glyphicon glyphicon-sort text-right"></span>
                        </div>
                        <div class="col-lg-2 clickable" ng-click="SortByDocMode(siteInfo)">
                            <span class="name">Compat mode</span>
                            <span class="glyphicon glyphicon-sort"></span>
                        </div>
                        <!--
                        <div class="col-lg-2 clickable" ng-click="SortByNotesAboutURL(siteInfo)">
                            <span class="name">Notes about URL</span>
                            <span class="glyphicon glyphicon-sort"></span>
                        </div>
                        -->
                        <div class="col-lg-1">Open in</div>
                        <div class="col-lg-2">Last modified by</div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
                <div id="requestPanel" class="panel-collapse">
                    <ul class="list-group">
                        <li class="list-group-item" dir-paginate="site in siteInfo|itemsPerPage:itemsPerPage|limitTo:config.itemsDisplayedInList track by site.FullURL">
                            <div class="row">
                                <div class="col-lg-3" style="word-break:break-all">{{site.FullURL}}</div>
                                <div class="col-lg-2">{{site.DomainDocMode}}</div>
                                <!--<div class="col-lg-2" style="word-break:break-all">{{site.NotesAboutURL}}</div>-->
                                <div class="col-lg-1">{{site.OpenIn}}</div>
                                <div class="col-lg-2">{{site.LastModifiedBy}}</div>
                                <div class="col-lg-1">
                                    <a href="javascript:;" ng-disabled="disableAll" ng-click="EditSite(site)">Edit</a>
                                </div>
                                <div class="col-lg-1">
                                    <a href="javascript:;" ng-disabled="disableAll" ng-click="DeleteSite(site)">Delete</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--this is for the bulk upload page, will be displayed when bulk upload file has url which is duplicate or fails the validation-->
        <div ng-show="IsDuplicate" data-ng-model="validUrls">
            <div ng-model="important">
                <p><strong>{{validUrls}}</strong> websites passed validation and were added to your list.</p>
                <p>The following websites didn't pass validation and need your input. To fix these problems, you can override each error and add the URLs by checking the add to list checkbox. If you don't want to override the error, ignore it.</p>
                <p>When you are done, click OK to add the new URLs to your site list.</p>
            </div>
            <div class="panel-group form-row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-3">URL</div>
                            <div class="col-lg-4">Error</div>
                            <div class="col-lg-2 pull-right"><input type="checkbox" data-ng-model="checkAll" ng-change="checkAllCheckboxes()" /></div>
                        </div>
                    </div>
                    <div id="requestPanel" class="panel-collapse">
                        <ul class="list-group">
                            <li class="list-group-item" data-ng-model="checkAllWebsites" dir-paginate="site in failedBulkUpload|itemsPerPage:itemsPerPage||limitTo:config.itemsDisplayedInList track by site.data.FullURL">
                                <div class="row">
                                    <div class="col-lg-3" style="word-break:break-all">{{site.data.FullURL}}</div>
                                    <div class="col-lg-4">{{site.Error}}</div>
                                    <div class="col-lg-2 pull-right"><input type="checkbox" ng-change="UncheckAllCheckCheckBox(site.AddToList)" ng-model="site.AddToList" /></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="highlight" ng-click="AddValidationFailedWebsites(failedBulkUpload)">OK</button>
                <button type="button" ng-click="CancelBulkUpload()">Cancel</button>
            </div>
        </div>
        <div ng-hide="disableAll">
            <dir-pagination-controls ng-disabled="disableAll" max-size="10"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
        <message-center></message-center>
    </fieldset>
</div>
<script>
    url();
</script>