<div class="emie-breadcrumb">
    <div><a href="#/SignInSuccess">Home</a></div>
    <div class="current">Employee management</div>
</div>
<div>
    <span class="EMIEpage-title">Employee management</span>
</div>
<div disable-all="isUserPageDisabled">
    <div class="form-row nomargin">
        <div class="form-column-liquid">
            <div class="EMIEsearch input-group reflow-spacing">
                <input type="text" name="serachUser" id="serachUser" ng-change="GetSearchedUserFromAutoComplete(SearchUserFromTextBox)" class="form-control" data-ng-model="SearchUserFromTextBox" placeholder="Search employees" data-toggle="dropdown">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                <ul id="color-dropdown-menu" class="dropdown-menu dropdown-menu-right" ng-hide="true" style="margin-right:14px; width:258px;height:auto;max-height:400px !important;overflow-y:scroll" role="menu">
                    <li ng-repeat="usr in UserListToShow" class="input-lg" ng-click="BindSearchedUserToGrid(usr)" style="margin:5px">{{usr.User.UserName | limitTo: 8}}{{usr.User.UserName.length > 30 ? '...' : ''}}{{ usr.User.UserRole.RoleName}} {{ usr.User.UserBPU.BPU1}}</li>
                </ul>
                <span class="dropdown-menu dropdown-menu-left" style="width: 271px;" ng-model="NoResultText" ng-show="UserList.length==0 && SearchUserFromTextBox.length>1">No employees matching "{{SearchUserFromTextBox}}" were found. </span>
            </div>
        </div>
        <div class="form-column">
            <select class="form-control reflow-spacing"
                    ng-model="value"
                    ng-change="selectedValueOfDDL(value)"
                    ng-options="value for (key,value) in UserMngmntDDL"></select>
        </div>
        <div class="form-column">
            <select class="form-control reflow-spacing" name="BPUName" data-ng-model="GroupName" ng-change="filterByBPU()"
                    data-ng-options="var.BPU1 as var.BPU1 for var in ExportBPU | unique:'BPU1' | orderBy:'BPU1'">
                <option value="">All groups</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <button ng-click="ExportToExcel(GroupName)">Export to Excel</button>
        <button type="button" ng-hide="BtnActivateUser" ng-click="ActivateUser()">Activate</button>
        <button type="button" ng-hide="BtnDeactivateUser" ng-click="DeactivateUser()">Deactivate</button>
        <a id="AddUser" href="#/CreateNewUser">Add a new employee</a>
    </div>
    <div class="panel panel-default form-row">
        <div class="panel-heading" id="EMIEexpandr">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-3 clickable" ng-click="sortByName(UserList)">
                    <span class="name">Name</span>
                    <span class="glyphicon glyphicon-sort"></span>
                </div>
                <div class="col-lg-3">
                    <span class="name">Email</span>
                </div>
                <div class="col-lg-2 clickable" ng-click="sortByRoleName(UserList)">
                    <span class="name">Role</span>
                    <span class="glyphicon glyphicon-sort"></span>
                </div>
                <div class="col-lg-2">
                    <span class="name">Group name</span>
                </div>
                <div class="col-lg-1">
                </div>
            </div>
        </div>
        <div id="UMpanel" class="panel-collapse">
            <ul class="list-group">
                <li class="list-group-item" dir-paginate="user in UserList |itemsPerPage:10">
                    <div class="row">
                        <div class="col-lg-1"><input type="checkbox" ng-show="UserCheckBoxShow" ng-model="selectedUser1" ng-change="getSelectedUser(user)" /></div>
                        <div class="col-lg-3">{{ user.User.UserName }}</div>
                        <div class="col-lg-3">{{ user.User.Email }}</div>
                        <div class="col-lg-2">{{ user.User.UserRole.RoleName }}</div>
                        <div class="col-lg-2">{{ user.User.UserBPU.BPU1 }}</div>
                        <div class="col-lg-1">
                            <a href="javascript:;" data-toggle="modal" ng-click="EditUser(user)" data-target="#myModal">Edit</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <form id="modalform" name="modalform">
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="EMIEpage-title">Edit employee</span>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div><span class="EMIEControllabel">Name</span></div>
                                <div>
                                    <input type="text" class="form-control" disabled value="{{ selectedUser.User.UserName }}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div><span class="EMIEControllabel">Role</span></div>
                                <div>
                                    <select class="form-control" name="selectRole" data-ng-model="User.UserGetRole" ng-change="BindBPUForSelectedRole(User.UserGetRole)" ng-options="role.RoleName for role in roleList"></select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div><span class="EMIEControllabel">Group name</span></div>
                                <div>
                                    <select class="form-control" name="selectBPU" data-ng-model="User.UserBPU" ng-disabled="DDLDisableOnALLGroup" ng-options="bpu.BPU1 disable when bpu.AllBPUDiabled for bpu in bpuList">
                                        <option value="" disabled selected>{{ShowSelectOption}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div><span class="EMIEControllabel">Comments</span></div>
                                <div>
                                    <textarea name="UserComments" id="TextAreaComments" data-ng-model="User.Comments" class="form-control" rows="5" maxlength="100"></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <input type="checkbox" id="IsActiveCheckbox" name="ischeck" data-ng-model="User.IsActive">Active
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="highlight" ng-click="EditSelectedUser(User)">Save</button>
                            <button type="button" data-dismiss="modal" ng-click="CancelFields()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div>
        <dir-pagination-controls max-size="10"
                                 direction-links="true"
                                 boundary-links="true">
        </dir-pagination-controls>
    </div>
    <message-center></message-center>
</div>
<script>
    url();
</script>
