<div class="emie-breadcrumb">
    <div><a href="#/SignInSuccess">Home</a></div>
    <div class="current">Request ID #{{TicketId}}</div>
</div>
<div class="EMIEpage-title">Pre-production verification</div>
<!-- Status Panel -->
<div class="status">
    <ul id="status-child">
        <li id="First-child" class="First-child">
            <a href="#/RequestPage">
                <span class="circle"></span>
                <span class="text">Submit request</span>
            </a>
        </li>
        <li id="Middle-child-1" class="Middle-child">
            <span class="line"></span>
            <a href="#/SandboxPage">
                <span class="circle"></span>
                <span class="text">Pre-production validation</span>
            </a>
        </li>
        <li id="Middle-child-2" class="Middle-child">
            <span class="line"></span>
            <a href="#/ApproversPage">
                <span class="circle"></span>
                <span class="text">Approvals</span>
            </a>
        </li>
        <li id="Middle-child-3" class="Middle-child">
            <span class="line"></span>
            <a href="#/ProductionChangePage">
                <span class="circle"></span>
                <span class="text">Production deployment</span>
            </a>
        </li>
        <li id="Last-child" class="Last-child">
            <span class="line"></span>
            <a href="#/SignOffPage">
                <span class="circle"></span>
                <span class="text">Production validation</span>
            </a>
        </li>
    </ul>
    <hr />
</div>
<form name="SandboxForm">
    <div class="EMIEHeaderTitle">App verification results in the pre-production environment</div>
    <div class="form-column">
        <div class="form-row" disable-all="isVerifyPageDisabled">
            <label class="EMIEControllabel"><input ng-disabled="IsSuccessDivReadOnly" id="RadSuccessful" type="radio" ng-click="RadSuccessClicked($event)" ng-model="Successchecked" ng-checked="RadSuccessChecked" value="Checked">Successful</label>
            <label class="EMIEControllabel"><input ng-disabled="IsSuccessDivReadOnly" id="RadFailed" type="radio" ng-click="RadFailedClicked($event)" ng-model="Failedchecked" ng-checked="RadFailedChecked" value="Checked">Failed</label>
        </div>
        <div class="form-row" disable-all="isVerifyPageDisabled ||isDisableAfterComments">
            <div class="EMIEControllabel">Attachments</div>
            <div> 
                <input type="file" id="file" class="form-control" name="file" style="height:40px !important;display:none" accept=".txt,.png,.jpg,.jpeg" multiple onchange="angular.element(this).scope().getFileDetails(this)" /> 
                <button formnovalidate onclick="document.getElementById('file').click();" data-toggle="tooltip" data-placement="top" title="Only .jpeg, .png, .jpg and .txt files allowed.">Browse</button>
                <button type="button" ng-click="uploadFiles()" ng-disabled="DisableUploadButton">Upload</button>
            </div>
        </div>
    </div>
    <div class="form-column">
        <div class="form-row" ng-hide="IsSelectedFIlesDivHidden" ng-show="filesSelected.length>=1">
            <div>{{SelectedFilesMessage}}</div>
            <div class="alert alert-danger" ng-repeat="SelectedFile in filesSelected">
                <span>
                    <span class="EMIEuploadedfile">{{SelectedFile.name}}</span>
                    <button class="close" ng-disabled="IsSelectedFileDeleteDisable" data-dismiss="alert" ng-click="DeleteSelectedFile(SelectedFile)" aria-label="close">&times;</button>
                </span>
            </div>
        </div>
        <div class="form-row" ng-hide="IsDownloadedDivHidded" ng-show="UploadedFiles.array.length>=1">
            <div>File(s) uploaded:</div>
            <div ng-show="Messages">{{Messages}}</div>
            <div ng-repeat="SingleFile in UploadedFiles.array">
                <div class="alert alert-success">
                    <span class="EMIEuploadedfile">
                        <a style="cursor: pointer;" ng-click="DownloadSelectedAttchment(DownloadPathOfUploadedFiles,SingleFile)">{{SingleFile}}</a>
                    </span>
                    <button class="close" ng-disabled="IsClosedDisable" data-dismiss="alert" ng-click="Delete(SingleFile)" aria-label="close">&times;</button>
                </div>
            </div>
        </div>
    </div>
    <!--Success Section-->
    <div ng-hide="IsSuccessDivHidden" disable-all="isVerifyPageDisabled">
        <div class="EMIEHeaderTitle">My approvers</div>
        <div class="panel-group form-row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-2">
                            <span class="name">Role</span>
                        </div>
                        <div class="col-lg-4">
                            <span class="name">Person(s)</span>
                        </div>
                        <div class="col-lg-4">
                            <span class="name">Comments</span>
                        </div>
                    </div>
                </div>
                <div class="panel-collapse">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="singleApproval in approvals" ng-disabled="issuccessdivreadonly">
                            <div class="row">
                                <div class="col-lg-2">{{singleApproval.Key}}</div>
                                <div class="col-lg-4" ng-show="!ApproverDDL">
                                    <select class="form-control" name="{{singleApproval.Key}}" id="{{singleApproval.Key}}" ng-disabled="singleApproval.Key=='Administrator'" ng-model="SelectedValue" ng-options="single.UserName for single in singleApproval.Value" ng-change="changeevt(SelectedValue,$index)">
                                        <option value="">Select Name</option>
                                    </select>
                                    <!--<span class="has-error" ng-show="(SandboxForm.ApprovalName.$dirty || submitted) && SandboxForm.ApprovalName.$error.required">Select service</span>-->
                                </div>
                                <div class="col-lg-4" ng-show="ApproverDDL">
                                    <select class="form-control" name="ApprovalNameEdited" ng-disabled="IsSuccessDivReadOnly" ng-model="singleApproval.Value[0]" ng-options="single as single.Approver.UserName for single in singleApproval.Value" required>
                                        <option value="">Select Name</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <input placeholder="Comments for the {{singleApproval.Key}}" class="form-control" type="text" ng-show="!ApproverCommentsShow" ng-disabled="IsSuccessDivReadOnly" ng-model="textArea[$index]" ng-change="textchanged(textArea,$index)" maxlength="300">
                                    <input placeholder="Comments for the {{singleApproval.Key}}" name="ApproverComments" ng-show="ApproverCommentsShow" class="form-control" type="text" ng-disabled="IsSuccessDivReadOnly" value="{{singleApproval.Value[0].ApproverComments}}" maxlength="300">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="form-column">
                <button ng-disabled="IsSuccessDivReadOnly" ng-show="SendForApprovalButtonShow" type="button" class="highlight" ng-click="SendForApproval(SelectedValue)">Send for approval</button>
            </div>
            <div class="form-column">
                <div class="text-success" ng-show="status">{{status}}</div>
            </div>
        </div>
    </div>
    <!--Failure Section-->
    <div ng-hide="IsFailureDivHidden" disable-all="isVerifyPageDisabled">
        <div class="form-row">
            <div>
                <span class="EMIEControllabel">Issue description</span>
            </div>
            <div>
                <textarea ng-disabled="IsSendFailureDisabled" ng-model="FailedComments" rows="6" cols="70" class="form-control" ng-required="true" placeholder="Issue description" maxlength="500"></textarea>
            </div>
        </div>
        <div>
            <button type="button" ng-disabled="FailedComments==null || IsSendFailureDisabled || isVerifyPageDisabled" class="highlight" ng-click="SendFailureDetails(FailedComments)">Send failure details</button>
            <button type="button" ng-click="Rollback(FailedComments)">Rollback changes</button>
        </div>
    </div>
    <canvas id="imgCanvas" ng-hide="true"></canvas>
    <message-center></message-center>
</form>
<script>
    url();
    $('[data-toggle="tooltip"]').tooltip();
</script>


