<div class="modal fade " id="PopUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog mrgTop15p GetKeyPopUp" role="document">
        <div class="modal-content">
            <div class="modal-header" ng-class="setcss(ALERTCONTENT.Type)">
                <span class="EMIEpage-title">{{ALERTCONTENT.Title}}</span>
            </div>
            <div class="modal-body">
                <span ng-bind-html="MESSAGE"></span>
            </div>
            <div class="modal-footer">                
                <button type="button" class="highlight" data-ng-click="Confirm(ALERTCONTENT.MethodCase,ALERTCONTENT.Object)" data-dismiss="modal" title="{{'OK'}}"> {{'OK'}}</button>
                <button type="button" data-ng-click="CancelValidation(ALERTCONTENT.MethodCase)" ng-hide="HideCancelModal" data-dismiss="modal" title="{{'Cancel'}}">{{'Cancel'}}</button>
            </div>
        </div>
    </div>
</div>