@font-face {
    font-family: Microsoft Symbols;
    src: url('../../../node_modules/fonts/Symbols/winjs-symbols.ttf');
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1280px;
}

    body > div:first-child {
        height: 100%;
    }

a:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

hr {
    border-top: 1px solid #eee;
}

.panel-heading {
    cursor: default;
}

#loading-bar-spinner {
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

    #loading-bar-spinner .spinner-icon {
        width: 30px;
        height: 30px;
        border: solid 5px transparent;
        border-top-color: #29d;
        border-left-color: #29d;
        border-radius: 50%;
    }

.page-margins {
    margin: 0 70px;
}

.EMIEheader-container {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    min-width: 1280px;
}

.EMIEheader {
    background-color: #fff;
}

    .EMIEheader .page-margins {
        height: 50px;
    }

    .EMIEheader .user-account {
        float: right;
        position: relative;
    }

        .EMIEheader .user-account:hover {
            background-color: #f2f2f2;
        }

        .EMIEheader .user-account > a {
            display: block;
            text-decoration: none;
            padding: 6px 15px;
            height: 50px;
            cursor: default;
        }

            .EMIEheader .user-account > a::before {
                font-family: 'Microsoft Symbols';
                content: "\e13d";
                font-size: 24px;
                color: #000;
                position: relative;
                top: -4px;
            }

            .EMIEheader .user-account > a div {
                display: inline-block;
                margin-left: 5px;
            }

                .EMIEheader .user-account > a div span {
                    font-size: 12px;
                    color: #000;
                    display: block;
                    width: 151px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

        .EMIEheader .user-account ul.dropdown {
            display: none;
            list-style-type: none;
            position: absolute;
            z-index: 999;
            padding: 0;
            margin: 0;
            right: 0;
        }

        .EMIEheader .user-account:hover ul.dropdown {
            display: block;
        }

        .EMIEheader .user-account ul.dropdown li {
            background-color: #f2f2f2;
        }

            .EMIEheader .user-account ul.dropdown li a {
                display: block;
                color: #000;
                padding: 10px 40px;
                font-size: 14px;
            }

.mslogo {
    height: 23px;
    margin-top: 12px;
}

.EMIEsubheader {
    background-color: #0078d7;
    color: #fff;
}

    .EMIEsubheader .page-margins {
        height: 70px;
        line-height: 70px;
        position: relative;
    }

    .EMIEsubheader .EMIEtitle {
        display: inline-block;
        margin: 10px 0;
        line-height: 1.1;
    }

        .EMIEsubheader .EMIEtitle a {
            color: #fff;
            font-size: 20px;
            font-weight: 300;
            text-decoration: none;
        }

    .EMIEsubheader .navlinks {
        display: inline-block;
        margin: 0;
        position: absolute;
        right: 0;
    }

        .EMIEsubheader .navlinks li {
            margin: 0 -2px;
            display: inline-block;
        }

            .EMIEsubheader .navlinks li:hover {
                background-color: #006cc1;
                transition: background-color ease-out .5s;
            }

            .EMIEsubheader .navlinks li a {
                display: block;
                color: #fff;
                text-decoration: none;
                font-size: 24px;
                padding: 0 15px;
                height: 70px;
                line-height: 70px;
            }

                .EMIEsubheader .navlinks li a.usermgmt::before {
                    font-family: 'Microsoft Symbols';
                    content: "\e187";
                }

                .EMIEsubheader .navlinks li a.tool::before {
                    font-family: 'Microsoft Symbols';
                    content: "\e104";
                }

                .EMIEsubheader .navlinks li a.settings::before {
                    font-family: 'Microsoft Symbols';
                    content: "\e115";
                }

.EMIELogininfo {
    text-align: center;
    margin-top: 50px;
}

    .EMIELogininfo .message,
    .EMIELogininfo .login {
        display: inline-block;
        padding: 40px 50px;
        font-size: 14px;
        color: #000;
        text-align: left;
        width: 40%;
    }

    .EMIELogininfo .message {
        background-color: #f2f2f2;
    }

    .EMIELogininfo .login {
        vertical-align: top;
    }

        .EMIELogininfo .login h1 {
            margin: 0 0 20px 0;
            font-size: 36px;
            font-weight: 200;
        }

        .EMIELogininfo .login .EMIEbtn,
        .EMIELogininfo .login .EMIEbtn:hover {
            padding: 7px 25px;
            background-color: #0078d7;
            border-width: 0;
            margin-bottom: 20px;
            border-radius: 0;
            color: #fff;
        }

        .EMIELogininfo .login a.register {
            font-weight: 600;
        }

.EMIEpage-title {
    font-size: 36px;
    font-weight: 200;
    display: block;
    margin-bottom: 10px;
}

.EMIEsearch {
    margin-bottom: 45px;
    margin-right: -41px;
}

.form-column-liquid .EMIEsearch {
    margin-bottom: 0;
}

.EMIEsearch.input-group input {
    width: 340px;
    border: 1px solid #a9a9a9;
    border-radius: 0;
    font-size: 16px;
    color: #808080;
    height: 36px;
}

    .EMIEsearch.input-group input:focus {
        color: #000;
        border-color: #66afe9;
    }

.EMIEsearch.input-group {
    display: block;
}

.EMIEsearch .input-group-addon {
    display: inline-block;
    background: transparent;
    position: relative;
    left: -37px;
    top: 3px;
    border: 0;
    z-index: 9;
    cursor: text;
    font-size: 16px;
}

ul#status-child {
    padding: 0;
    margin: 0;
}

    ul#status-child li {
        display: inline-block;
        width: 150px;
        text-align: center;
        vertical-align: top;
        position: relative;
    }

        ul#status-child li span {
            display: block;
        }

            ul#status-child li span.circle {
                border: 1px solid #b3b3b3;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                margin: 0 auto;
                z-index: 10;
                position: relative;
                background-color: #fff;
            }

        ul#status-child li.Current span.circle {
            border: 1px solid #4c9d4c;
        }

        ul#status-child li.Completed span.circle {
            border: 1px solid #4c9d4c;
            background-color: #4c9d4c;
        }

            ul#status-child li.Current span.circle::before,
            ul#status-child li.Completed span.circle::before {
                display: block;
                font-family: 'Microsoft Symbols';
                content: "\e10b";
                font-weight: 200;
                font-size: 12px;
                margin-top: 3px;
                margin-left: -1px;
            }

        ul#status-child li.Current span.circle::before {
            color: #000;
        }

        ul#status-child li.Completed span.circle::before {
            color: #fff;
        }

        ul#status-child li span.line {
            width: 135px;
            height: 1px;
            background-color: #b3b3b3;
            position: absolute;
            top: 37px;
            left: -70px;
            z-index: 9;
        }

        ul#status-child li.Current span.line,
        ul#status-child li.Completed span.line {
            background-color: #4c9d4c;
        }

        ul#status-child li.RolledBack span.line {
            border-color: orange;
        }

        ul#status-child li span.text {
            font-size: 11px;
            color: hsla(0, 0%, 0%, 0.4);
            text-transform: uppercase;
            margin: 5px auto 0 auto;
            width: 100px;
            line-height: 12px;
            padding-bottom: 25px;
        }

        ul#status-child li.Status-Selected span.text {
            color: #000;
            font-weight: 600;
        }

        ul#status-child li a {
            display: block;
            color: black;
            padding-top: 25px;
        }

.status hr {
    margin: 5px 0 30px 0;
    border-color: hsla(0, 0%, 0%, 0.2);
}

.form-column,
.form-column-liquid {
    display: inline-block;
    padding-right: 30px;
    vertical-align: top;
}

.form-column {
    width: 370px;
}

.form-row {
    margin-bottom: 30px;
}

    .form-row input,
    .form-row select,
    .form-row textarea {
        width: 340px;
        border-radius: 0;
        border: 1px solid #a9a9a9;
        font-size: 16px;
        color: #808080;
        padding: 4px 12px;
    }

    .form-row input,
    .form-row select {
        height: 36px;
    }

        .form-row input[type=checkbox],
        .form-row input[type=radio] {
            width: 16px;
            height: 16px;
            margin: 5px;
        }

        .form-row input:focus,
        .form-row select:focus,
        .form-row textarea:focus {
            color: #000;
        }

.form-dropdown {
    position: relative;
}

.dropdownCD {
    position: relative;
    z-index: 100;
    margin: 0 0 10px 0;
}

    .dropdownCD dt {
        margin: 0;
        padding: 0;
        border: 1px solid #a9a9a9;
    }

    .dropdownCD dd {
        position: relative;
    }

    .dropdownCD a,
    .dropdownCD a:visited {
        font-size: 16px;
        color: #808080;
        text-decoration: none;
        outline: none;
        padding: 4px 12px;
        -ms-user-select: none;
    }

        .dropdownCD a::after {
            font-family: 'Microsoft Symbols';
            content: "\e019";
            color: #000;
            position: absolute;
            right: 13px;
            top: 7px;
        }

    .dropdownCD dt a {
        display: block;
        overflow: hidden;
        border: 0;
        width: 340px;
        height: 36px;
        font-weight: normal;
        line-height: 26px;
        cursor: pointer;
    }

    .dropdownCD dd ul {
        background-color: #fff;
        color: #000;
        display: none;
        top: 0;
        left: 0;
        position: absolute;
        width: 340px;
        list-style: none;
        height: 166px;
        overflow: auto;
        border: 1px solid #a9a9a9;
        border-top: 0;
        padding: 0;
    }

        .dropdownCD dd ul li:hover {
            background-color: #f2f2f2;
        }

        .dropdownCD dd ul li label {
            font-weight: normal;
            cursor: pointer;
            -ms-user-select: none;
            margin: 0;
            padding: 4px 12px;
            display: block;
            width: 100%;
        }

    .dropdownCD span.value {
        display: none;
    }

    .dropdownCD dd ul li a {
        padding: 5px;
        display: block;
    }

        .dropdownCD dd ul li a:hover {
            background-color: #fff;
        }

.EMIEControllabel {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
}

.emie-breadcrumb {
    margin-bottom: 10px;
}

    .emie-breadcrumb div {
        display: inline-block;
        font-size: 11px;
        color: #000;
    }

        .emie-breadcrumb div.current {
            color: #0078d7;
        }

        .emie-breadcrumb div:not(.current)::after {
            content: " > ";
        }

        .emie-breadcrumb div a,
        .emie-breadcrumb div a:hover {
            color: #000;
        }

#AddUser {
    display: inline-block;
    text-align: center;
}

.content button,
.modal .modal-dialog .modal-content button,
#AddUser {
    background-color: #ccc;
    font-size: 14px;
    color: #000;
    border: 1px solid #ccc;
    padding: 7px 10px;
    border-radius: 0;
    margin-right: 5px;
}

    .content button:not(:disabled):hover,
    #AddUser:hover {
        border-color: #b0b0b0;
        background-color: #ccc;
        color: #000;
    }

    .content button.highlight,
    .modal .modal-dialog .modal-content button.highlight {
        background-color: #0078d7;
        border: 1px solid #0078d7;
        color: #fff;
    }

        .content button.highlight:not(:disabled):hover,
        .modal .modal-dialog .modal-content button.highlight:not(:disabled):hover {
            background-color: #0078d7;
            border-color: hsla(0, 0%, 0%, 0.2);
            color: #fff;
        }

        .content button:disabled,
        .content button.highlight:disabled,
        .modal .modal-dialog .modal-content button:disabled,
        .modal .modal-dialog .modal-content button.highlight:disabled {
            color: #b0b0b0;
            background-color: #ccc;
            border: 1px solid #ccc;
        }

.newreq-appbuttons {
    display: inline-block;
    margin-top: 5px;
}

.disclaimer {
    font-size: 11px;
}

.EMIEHeaderTitle {
    font-size: 24px;
    font-weight: 200;
    display: block;
    margin-bottom: 25px;
}

#wrapper .form-row .EMIEuploadedfile {
    width: 286px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: text-bottom;
}

.form-row .close {
    float: none;
    display: inline-block;
    text-shadow: none;
    font-size: 16px;
    margin: 0;
}

label.EMIEControllabel {
    cursor: pointer;
    width: 100px;
}

.content .panel {
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.content .panel-group .panel .panel-collapse ul.list-group {
    border-top: 0;
}

.content .panel .panel-heading,
.content .panel ul.list-group li {
    background-color: #fff;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}

.content .panel .panel-heading {
    color: #4d4d4d;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 15px;
}

    .content .panel .panel-heading .clickable {
        -ms-user-select: none;
    }

        .content .panel .panel-heading .clickable:hover .name {
            text-decoration: underline;
        }

.content .EMIEmyreqpanel .panel,
#wrapper .content .panel ul.list-group li:last-child {
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}

    .content .EMIEmyreqpanel .panel .panel-heading {
        background-color: #f4f4f4;
        cursor: pointer;
        border-bottom: 0;
    }

    .content .panel ul.list-group li,
    .content .EMIEmyreqpanel .panel .panel-heading {
        font-size: 14px;
        color: #000;
        padding: 15px;
        text-transform: none;
    }

        .content .EMIEmyreqpanel .panel .panel-heading.collapsed {
            background-color: #fff;
        }

        .content .panel ul.list-group li:hover,
        .content .EMIEmyreqpanel .panel .panel-heading:hover {
            background-color: #f2f2f2;
        }

.clickable {
    cursor: pointer;
}

.content .EMIEmyreqpanel .panel .EMIEPanelHeader {
    font-size: 10px;
    color: #4d4d4d;
    padding: 20px 15px 15px 15px;
    text-transform: uppercase;
}

.content .panel-group .EMIEmyreqpanel .panel .panel-collapse {
    padding-left: 100px;
    padding-bottom: 20px;
}

#wrapper .content .panel-group .panel .EMIEmyreqpanel .panel .panel-collapse ul.list-group li:last-child {
    border-bottom: 0;
}

.content .panel-group .EMIEmyreqpanel .panel .panel-collapse ul.list-group li input[type=checkbox] {
    width: 16px;
    height: 16px;
    margin: 0;
    vertical-align: text-bottom;
}

.content .EMIEmyreqpanel .panel .panel-heading span.toggle {
    float: right;
    margin-top: 2px;
    margin-right: 10px;
    font-family: 'Microsoft Symbols';
}

    .content .EMIEmyreqpanel .panel .panel-heading span.toggle:before {
        content: "\e018";
    }

.content .EMIEmyreqpanel .panel .panel-heading.collapsed span.toggle:before {
    content: "\e019";
}

.content .input-group input[uib-datepicker-popup],
.content .form-group.uib-time input {
    height: 36px;
    border-radius: 0;
    font-size: 16px;
    color: #808080;
    border: 1px solid #a9a9a9;
}

.content .input-group input[uib-datepicker-popup] {
    width: 340px;
}

    .content .input-group input[uib-datepicker-popup]:focus {
        color: #000;
        border-color: #66afe9;
    }

    .content .input-group input[uib-datepicker-popup] ~ .input-group-btn {
        left: -35px;
        z-index: 999;
    }

        .content .input-group input[uib-datepicker-popup] ~ .input-group-btn button {
            background-color: transparent;
            border: 0;
            margin: 0;
        }

            .content .input-group input[uib-datepicker-popup] ~ .input-group-btn button:active {
                box-shadow: none;
            }

.content .uib-time.am-pm button {
    background-color: #ccc;
    border: 1px solid #ccc;
    margin-left: 10px;
}

.content .uib-timepicker .uib-separator {
    padding-left: 5px;
}

.content .uib-timepicker .uib-time.minutes {
    padding-left: 5px;
}

.form-spacer {
    padding-bottom: 30px;
}

.modal .modal-dialog .modal-content {
    border-radius: 0;
}

    .modal .modal-dialog .modal-content .modal-body {
        padding: 0 15px;
    }

    .modal .modal-dialog .modal-content .modal-header,
    .modal .modal-dialog .modal-content .modal-footer {
        border: 0;
    }

.content .dropdown-menu {
    border-radius: 0;
}

.content span.dropdown-menu {
    padding: 7px;
}

.content ul.dropdown-menu {
    padding: 0;
}

li.input-lg {
    border-radius: 0;
    cursor: pointer;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
}

    li.input-lg:hover {
        background: #f2f2f2;
    }

.EMIEspacer {
    margin-bottom: 45px;
}

.content .pagination > li > a {
    font-size: 15px;
    color: #000;
    border: 0;
    background-color: #fff;
    margin-right: 5px;
}

    .content .pagination > li > a:focus {
        color: #000;
    }

    .content .pagination > li > a:hover {
        background-color: hsla(0, 0%, 0%, 0.1);
    }

.content .pagination > li.active > a {
    background-color: #fff;
    border: 1px solid #0078d7;
}

    .content .pagination > li.active > a:hover {
        color: #000;
    }

.content .pagination > li.disabled {
    display: none;
}

.content .pagination > li:first-child > a,
.content .pagination > li:last-child > a {
    border-radius: 0;
}

.content .pagination > li:last-child > a {
    margin: 0;
}

.input-row {
    line-height: 36px;
}

.tabbable > .nav-tabs {
    margin-bottom: 30px;
}

    .tabbable > .nav-tabs > li > a {
        border-radius: 0;
        font-size: 16px;
    }

.report-tile {
    width: 153px;
    height: 153px;
    background-color: #0078d7;
    color: #fff;
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.report-count {
    width: 100%;
    height: 69px;
    font-size: 48px;
    font-weight: 200;
}

.report-label {
    width: 100%;
}

.reflow-spacing {
    margin-bottom: 10px;
}

.nomargin {
    margin: 0px;
}

/* TODO: Clean below */

.EMIEsubtitle {
    font-size: 0.813em /*13px*/;
    position: relative;
    top: -5px;
    color: #fff;
}

a.EMIEnavlink:hover {
    text-decoration: underline !important;
}

.Ccheckbox {
    padding-left: 10px;
    width: 90%;
}

.checkbox-inline {
    width: 95px !important;
}


.EMIEhide-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.glyphicon-sound-stereo {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

a#Login {
    text-decoration: none;
    color: white;
}

.btn-success {
    color: #fff !important;
    background-color: #008270 !important;
    font-size: /* 1.688em*/ 27px;
}

.EMIEusericon {
    width: 40px;
}

/*.dropdown-menu
{
   // position:absolute;
    //left:67% !important;
}*/

.EMIEsmall-btn {
    border: 1px solid #028273;
    padding: 2px 10px 2px 10px;
    background-color: #028273;
    color: #fff;
}

    .EMIEsmall-btn:hover {
        background-color: #19504A;
    }

    .EMIEsmall-btn:disabled {
        background-color: #d2d2d2;
    }

.row {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.EMIEfooter {
    background-color: #f2f2f2;
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.EMIEexpndr {
    margin: 0px !important;
    padding: 0px;
    border: 0px;
    font-size: 20px;
    font-stretch: condensed;
    background-color: transparent;
}


input.ng-dirty.ng-invalid {
    border: 1px solid red;
    background-color: rgb(255, 244, 244);
}

.erroneous-field {
    border: 1px solid red;
    background-color: rgb(255, 244, 244);
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
/* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
* html .ui-autocomplete {
    height: 100px;
}

.btn-sm {
    border-radius: 0px !important;
    min-height: 22px !important;
    font-size: 13px !important;
}

.fontblack {
    color: #000 !important;
}

.white-icon {
    color: #fff;
    font-size: 2rem;
    margin: 5px;
}

.alert {
    padding: 7px !important;
    margin-bottom: 5px !important;
    border: 1px solid transparent !important;
    border-radius: 0px !important;
}

.EMIEchampmenu-open {
    position: relative;
    right: -90px;
    top: -4px;
}

.EMIEshiftright {
    right: -94px !important;
}

ul#Progress-Child li {
    display: inline-block;
    width: 150px;
    height: 50px;
    padding-top: 40px;
    text-align: center;
    margin-right: -4px;
}

ul#Progress-Child li {
    display: inline-block;
    width: 150px;
    height: 50px;
    padding-top: 40px;
    text-align: center;
    margin-right: -4px;
}

ul#icons li {
    display: inline-block;
    width: 50px;
    margin: 0 auto;
}

    ul#icons li#user-name {
        width: 100px;
    }

ul#Req-Status li {
    display: inline-block;
    width: 124px;
    height: 50px;
    padding-top: 40px;
    text-align: center;
    margin-right: -5px;
    font-size: /*0.61em*/ 9px;
    font-weight: bold;
    background-color: transparent;
}

ul#icons li {
    display: inline-block;
    width: 50px;
    margin: 0 auto;
}

a:hover, a:focus {
    text-decoration: none !important;
}

ul#icons li#user-name {
    width: 100px;
}

sup {
    font-size: /*0.875em1*/ 14px;
    color: red;
}

.tooltip > .tooltip-inner {
    background-color: #505050 !important;
}

/*.tooltip > .tooltip-arrow {
    border-left-color: #505050 !important;
    
 
}*/

#Edit {
    background: url('../img/icon_edit_on.png') no-repeat 0% -5px;
    background-color: #028273;
    width: 50px;
}

#Delete {
    background: url('../img/icon_delete_on.png') no-repeat 0% -5px;
    background-color: #028273;
    width: 50px;
}

ul#Req-Status a {
    color: black;
}

/*All request page status panel pending*/
ul#Req-Status li#DataEntry {
    background: url('../img/First-complete-small.svg') no-repeat -176% 8px !important;
}

ul#Req-Status li#SandBoxTest {
    background: url('../img/current-step_small.svg') no-repeat 50% 8px !important;
    color: purple;
}

ul#Req-Status li#RequestSubmit {
    background: url('../img/incomplete-step_small.svg') no-repeat 50% 8px !important;
    pointer-events: none;
}

ul#Req-Status li#PartiallyApproved {
    background: url('../img/incomplete-step_small.svg') no-repeat 50% 8px !important;
    pointer-events: none;
}

ul#Req-Status li#Approved {
    background: url('../img/incomplete-step_small.svg') no-repeat 50% 8px !important;
    pointer-events: none;
}

ul#Req-Status li#ProductionReady {
    background: url('../img/incomplete-step_small.svg') no-repeat 50% 8px !important;
    pointer-events: none;
}

ul#Req-Status li#SignedOff {
    background: url('../img/last-incomplete-step_small.svg') no-repeat 290% 8px !important;
    pointer-events: none;
}

    /*All request page status panel current*/
    ul#Req-Status li#SandBoxTest.Initiated a,
    ul#Req-Status li#PartiallyApproved.VerifiedOnTestMachine a,
    ul#Req-Status li#PartiallyApproved.ApprovalPending a,
    ul#Req-Status li#Approved.PartiallyApproved a,
    ul#Req-Status li#ProductionReady.Approved a,
    ul#Req-Status li#Rejected.Rejected a,
    ul#Req-Status li#SignedOff.ProductionReady a,
    ul#Req-Status li#ProductionChangesScheduled.ProductionChangesScheduled a,
    ul#Req-Status li#Rollback.RolledBack a,
    ul#Req-Status li#SignedOff.SignedOff a {
        color: purple;
    }

/*Verifyed On test machine*/
ul#Req-Status li#SandBoxTest.VerifiedOnTestMachine, ul#Req-Status li#RequestSubmit.VerifiedOnTestMachine {
    background: url('../img/complete-step_small.svg') no-repeat 50% 8px !important;
    color: black;
    pointer-events: painted;
}

ul#Req-Status li#PartiallyApproved.VerifiedOnTestMachine {
    background: url('../img/current-step_small.svg') no-repeat 635% 8px !important;
    color: purple;
    pointer-events: painted;
}

/*Approval Pending*/
ul#Req-Status li#SandBoxTest.ApprovalPending, ul#Req-Status li#RequestSubmit.ApprovalPending {
    background: url('../img/complete-step_small.svg') no-repeat 50% 8px !important;
    color: black;
    pointer-events: painted;
}

ul#Req-Status li#PartiallyApproved.ApprovalPending {
    background: url('../img/current-step_small.svg') no-repeat 50% 8px !important;
    color: purple;
    pointer-events: painted;
}

/*PArtially Approved*/
ul#Req-Status li#SandBoxTest.PartiallyApproved, ul#Req-Status li#RequestSubmit.PartiallyApproved, ul#Req-Status li#PartiallyApproved.PartiallyApproved {
    background: url('../img/complete-step_small.svg') no-repeat 50% 8px !important;
    color: black;
    pointer-events: painted;
}

ul#Req-Status li#Approved.PartiallyApproved {
    background: url('../img/current-step_small.svg') no-repeat 50% 8px !important;
    color: purple;
    pointer-events: painted;
}

/*Approved*/
ul#Req-Status li#SandBoxTest.Approved, ul#Req-Status li#RequestSubmit.Approved, ul#Req-Status li#PartiallyApproved.Approved, ul#Req-Status li#Approved.Approved {
    background: url('../img/complete-step_small.svg') no-repeat 50% 8px !important;
    color: black;
    pointer-events: painted;
}

ul#Req-Status li#ProductionReady.Approved {
    background: url('../img/current-step_small.svg') no-repeat 50% 8px !important;
    color: purple;
    pointer-events: painted;
}

/*Rejected */
ul#Req-Status li#SandBoxTest.Rejected, ul#Req-Status li#RequestSubmit.Rejected {
    background: url('../img/complete-step_small.svg') no-repeat 50% 8px !important;
    color: black;
    pointer-events: painted;
}

ul#Req-Status li#Rejected.Rejected {
    background: url('../img/Last-complete-step_small.svg') no-repeat 50% 8px !important;
    color: purple;
    pointer-events: painted;
}

/*Production ready*/
ul#Req-Status li#RequestSubmit.ProductionReady, ul#Req-Status li#PartiallyApproved.ProductionReady, ul#Req-Status li#SandBoxTest.ProductionReady, ul#Req-Status li#Approved.ProductionReady, ul#Req-Status li#ProductionReady.ProductionReady {
    background: url('../img/complete-step_small.svg') no-repeat 50% 8px !important;
    color: black;
    pointer-events: painted;
}

ul#Req-Status li#SignedOff.ProductionReady {
    background: url('../img/last-current-step_small.svg') no-repeat 290% 8px !important;
    color: purple;
    pointer-events: painted;
}

/*Production Scheduled*/
ul#Req-Status li#RequestSubmit.ProductionChangesScheduled, ul#Req-Status li#PartiallyApproved.ProductionChangesScheduled, ul#Req-Status li#SandBoxTest.ProductionChangesScheduled, ul#Req-Status li#Approved.ProductionChangesScheduled {
    background: url('../img/complete-step_small.svg') no-repeat 50% 8px !important;
    color: black;
    pointer-events: painted;
}

ul#Req-Status li#ProductionChangesScheduled.ProductionChangesScheduled {
    background: url('../img/current-step_small.svg') no-repeat 50% 8px !important;
    color: purple;
    pointer-events: painted;
}

/*Roll back after Sandbox verification*/
ul#Req-Status li#SandBoxTest.RolledBack {
    background: url('../img/complete-step_small.svg') no-repeat 50% 8px !important;
    color: black;
    pointer-events: painted;
}

ul#Req-Status li#Rollback.RolledBack {
    background: url('../img/Last-complete-step_small.svg') no-repeat 50% 8px !important;
    color: purple;
    pointer-events: painted;
}


/*Signed off*/
ul#Req-Status li#RequestSubmit.SignedOff, ul#Req-Status li#PartiallyApproved.SignedOff, ul#Req-Status li#SandBoxTest.SignedOff, ul#Req-Status li#Approved.SignedOff, ul#Req-Status li#ProductionReady.SignedOff {
    background: url('../img/complete-step_small.svg') no-repeat 50% 8px !important;
    color: black;
    pointer-events: painted;
}

ul#Req-Status li#SignedOff.SignedOff {
    background: url('../img/Last-complete-step_small.svg') no-repeat 50% 8px !important;
    color: purple;
    pointer-events: painted;
}



input[type=text]::-ms-clear {
    display: none;
}

/*For Charts Table*/

.table_report {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid lightgrey;
}

    .table_report td th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    /*.table_report tr:nth-child(even) {
        background-color: #dddddd;
    }*/

    .table_report tr th {
        background-color: #5B9AD4;
        font-size: /*1.063em*/ 17px;
        font-weight: bold;
        text-align: center;
        color: white;
        border: 1px solid lightgrey;
        width: 37%;
        padding-left: 0px;
    }

    .table_report td {
        border: 1px solid lightgrey;
        padding-left: 5px;
        width: auto;
    }

    .table_report tr {
        background-color: white;
    }


.glyphicon-info-sign {
    cursor: pointer;
}


.panel-heading {
    cursor: auto;
}

.glyphicon-sort {
    cursor: pointer;
    font-size: /*0.625em*/ 10px;
    margin-left: 5px;
    color: #000;
}


.glyphicon-chevron-down {
    position: relative;
    left: 5px;
    top: 2px;
}

.glyphicon-chevron-up {
    position: relative;
    left: 5px;
    top: 2px;
}

.glyphicon-pencil {
    font-size: /*0.813em*/ 13px;
    padding-left: 7px;
}

.dropdown-menu-left {
    word-break: break-all !important;
}

.dropbtn {
    /*background-color: #4CAF50;*/
    color: white;
    /*padding: 16px;*/
    font-size: /*0.875em*/ 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 200px;
    padding-top: 10px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    font-size: 0.875em;
}

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: lightgray;
            color: black;
            /*border-radius:10px;*/
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
}

:first-child.list-group-item,
.list-group-item:last-child {
    border-radius: 0;
}

:first-child.list-group-item {
    border-top: 0;
}

.list-group-item {
    border-left: 0;
    border-right: 0;
}
