<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Enterprise Mode Site List Portal</title>

    <!-- External dependencies -->
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/angular/angular.js"></script>
    <script src="~/node_modules/angular-ui/build/angular-ui.min.js"></script>
    <script src="~/node_modules/angular-route/angular-route.min.js"></script>
    <script src="~/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="~/node_modules/angularUtils/src/directives/pagination/dirPagination.js"></script>
    <script src="~/node_modules/angular-disable-all/dist/angular-disable-all.min.js"></script>
    <script src="~/node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
    <link href="~/node_modules/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet" />
    <script src="~/node_modules/angular-file-saver/dist/angular-file-saver.bundle.min.js"></script>
    <script src="~/node_modules/chartnew.js/ChartNew.js"></script>
    <script src="~/node_modules/xlsx/dist/xlsx.core.min.js"></script>
    <script src="~/node_modules/alasql/dist/alasql.min.js"></script>
    <script src="~/node_modules/angular-growl-v2/build/angular-growl.min.js"></script>
    <link href="~/node_modules/angular-growl-v2/build/angular-growl.min.css" rel="stylesheet" />
    <script src="~/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="~/node_modules/canvas-toBlob/canvas-toBlob.js"></script>
    <script src="~/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/node_modules/ngstorage/ngStorage.min.js"></script>

    <!-- Internal scripts -->
    <script src="~/App/Modules/Module.js"></script>
    <script src="~/App/Utilities/message-center.js"></script>
    <script src="~/App/Config/ManageSiteConfig.js"></script>
    <script src="~/App/Config/AllRequestsConfig.js"></script>
    <script src="~/App/Config/ChangeRequestConfig.js"></script>
    <script src="~/App/Config/ApprovalConfig.js"></script>
    <script src="~/App/Config/VerifySandboxConfig.js"></script>
    <script src="~/App/Config/LoginConfig.js"></script>
    <script src="~/App/Config/UserConfig.js"></script>
    <script src="~/App/Config/ConfigurationSettingsConfig.js"></script>
    <script src="~/App/Services/ManageSiteService.js"></script>
    <script src="~/App/Services/AllRequestsService.js"></script>
    <script src="~/App/Services/ChangeRequestService.js"></script>
    <script src="~/App/Services/ApprovalsService.js"></script>
    <script src="~/App/Services/VerifySandboxService.js"></script>
    <script src="~/App/Services/UserService.js"></script>
    <script src="~/App/Services/LoginService.js"></script>
    <script src="~/App/Services/ProdChangesService.js"></script>
    <script src="~/App/Services/UserService.js"></script>
    <script src="~/App/Services/VerifyProductionService.js"></script>
    <script src="~/App/Services/LogoutService.js"></script>
    <script src="~/App/Services/ReportsService.js"></script>
    <script src="~/App/Services/ConfigurationService.js"></script>
    <script src="~/App/Services/ModalService.js"></script>
    <script src="~/App/Factory/SandboxProductionFactory.js"></script>
    <script src="~/App/Factory/CommonFunctionsFactory.js"></script>
    <script src="~/App/Constants.js"></script>
    <script src="~/App/status.js"></script>
    <script src="~/App/utility.js"></script>
    <script src="~/App/Utilities/Values.js"></script>
    <script src="~/App/SaveXml.js"></script>
    <script src="~/App/Controllers/SiteListsController.js"></script>
    <script src="~/App/Controllers/ManageSiteController.js"></script>
    <script src="~/App/Controllers/AllRequestsController.js"></script>
    <script src="~/App/Controllers/ChangeRequestController.js"></script>
    <script src="~/App/Controllers/ApprovalController.js"></script>
    <script src="~/App/Controllers/MyApprovalController.js"></script>
    <script src="~/App/Controllers/UserController.js"></script>
    <script src="~/App/Controllers/VerifySandboxController.js"></script>
    <script src="~/App/Controllers/LoginController.js"></script>
    <script src="~/App/Controllers/ProdChangesController.js"></script>
    <script src="~/App/Controllers/UserController.js"></script>
    <script src="~/App/Controllers/VerifyProductionController.js"></script>
    <script src="~/App/Controllers/LayoutController.js"></script>
    <script src="~/App/Controllers/ReportsController.js"></script>
    <script src="~/App/status.js"></script>
    <script src="~/App/Controllers/LogoutController.js"></script>
    <script src="~/App/Controllers/ConfigurationController.js"></script>
    <script src="~/App/Controllers/EMIEUserManagementController.js"></script>
    <link href="~/App/Views/css/SidePanel.css" rel="stylesheet" />
    <link href="~/App/Views/css/EMIEStyle.css" rel="stylesheet" />
</head>
<body data-ng-app="EMIEModule">   
    <div data-ng-include="'../App/Views/Layout.html'" ng-controller="LayoutController"></div>
</body>
</html>
