<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="LOBMergedEntities" connectionString="metadata=res://*/EMIEDataModel.csdl|res://*/EMIEDataModel.ssdl|res://*/EMIEDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=msit-lob-compat;initial catalog=LOBMerged;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="interval" value="100"/>
    <add key="host" value="SMTPHOST.corp.microsoft.com"/>
    <add key="port" value="2500"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="from" value=""/> 
    <add key="HtmlMail" value="true"/>
    <add key="RequesterRaisedRequest" value="RequesterRaisedRequest.html"/>    
    <add key="RequestApproval" value="RequestApproval.html"/>
    <add key="RequestScheduledForProduction" value="RequestScheduledForProduction.html"/>
    <add key="UserManagement" value="UserManagement.html"/>
    <add key="ConfigurationSettings" value="ConfigurationSettings.html"/>
    <add key="TemplatesFolder" value="EmailTemplates"/>
    <add key="SchedulerWaitTimeInMinutes" value="2" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

</configuration>